
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 4.7rem;
}.boton-seleccion-gAr {
  padding: 2rem;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: flex;

  .apagadoenecendido-bHp {
    height: 0.7rem;
    cursor: pointer;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin-bottom: 2rem;
    width: 0.7rem;
  }
  .apagadovariant2-Wfg {
    width: 0.7rem;
    height: 0.7rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
}
