
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.landing-page-FiN {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .frame-1-fXC {
    position: absolute;
    top: 22.3rem;
    box-sizing: border-box;
    width: 192rem;
    height: 25.3rem;
    left: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #ededed;
    box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));

    .men-navegacin-Usx {
      box-sizing: border-box;
      padding-right: 49.6rem;
      height: 6.6rem;
      flex-shrink: 0;
      width: 100%;
      display: flex;
      column-gap: 1rem;
      align-items: center;
      background-color: #ededed;

      .navbar-item-Akn {
        display: flex;
        line-height: 1.15;
        height: 100%;
        overflow: hidden;
        position: relative;
        border: solid 0.1rem #ededed;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 20rem;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
        font-weight: 700;
        white-space: nowrap;
        color: #005ba3;
        font-family: Arimo, 'Source Sans Pro';
        background-color: #ffffff;
      }
      .navbar-item-Wy4 {
        position: relative;
        border: solid 0.1rem #ededed;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.8rem 4.75rem;
        width: 20rem;
        height: 100%;
        overflow: hidden;

        .informacin-sobre-impuestos-DsU {
          align-items: center;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          font-family: Arimo, 'Source Sans Pro';
          max-width: 10.5rem;
          display: flex;
          justify-content: center;
          color: #3f3f3f;
        }
      }
      .navbar-item-hne {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-family: Arimo, 'Source Sans Pro';
        white-space: nowrap;
        border: solid 0.1rem #ededed;
        overflow: hidden;
        font-size: 1.3rem;
        box-sizing: border-box;
        height: 100%;
        line-height: 1.15;
        justify-content: center;
        color: #3f3f3f;
        width: 20rem;
        position: relative;
      }
      .navbar-item-2iS {
        font-size: 1.3rem;
        font-family: Arimo, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        width: 20rem;
        font-weight: 400;
        box-sizing: border-box;
        align-items: center;
        color: #3f3f3f;
        border: solid 0.1rem #ededed;
        height: 100%;
        position: relative;
        display: flex;
        overflow: hidden;
        justify-content: center;
        line-height: 1.15;
      }
      .navbar-item-j74 {
        width: 20rem;
        height: 100%;
        position: relative;
        white-space: nowrap;
        flex-shrink: 0;
        align-items: center;
        color: #3f3f3f;
        border: solid 0.1rem #ededed;
        overflow: hidden;
        justify-content: center;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.15;
        font-family: Arimo, 'Source Sans Pro';
        display: flex;
        box-sizing: border-box;
      }
      .buscador-S1U {
        height: calc(100% - 2.9rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 1.45rem 0;
        box-sizing: border-box;
        padding: 0.6rem 1rem;
        border: solid 0.1rem #ededed;
        background-color: #ffffff;
        border-radius: 1rem;

        .buscar-MPL {
          display: flex;
          font-size: 1.3rem;
          font-weight: 400;
          color: #005ba3;
          white-space: nowrap;
          margin-right: 28.8rem;
          line-height: 1.15;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .search-UD4 {
          width: 2.5rem;
          height: 2.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .contenido-gpv {
      align-items: center;
      border: solid 0.1rem #ededed;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.5rem 52rem;
      width: 100%;
      height: 18.7rem;
      display: flex;

      .tarjeta-contenido-oPk {
        padding: 3.1rem 2.5rem 2.65rem 2.5rem;
        height: 100%;
        cursor: pointer;
        align-items: center;
        flex-direction: column;
        margin-right: 5rem;
        display: flex;
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .laptop-outline-Wox {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 2.55rem 0.088rem;
          width: 4.6875rem;
          height: 3.6rem;
        }
        .sri-en-lnea-dNn {
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.15;
          color: #0000a3;
          font-family: Arimo, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          display: flex;
          white-space: nowrap;
        }
      }
      .tarjeta-contenido-KmQ {
        flex-shrink: 0;
        padding: 2.7rem 2.85rem 2.113rem 2.85rem;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        display: flex;
        border-radius: 1rem;
        margin-right: 5rem;
        box-sizing: border-box;
        height: 100%;

        .icon-list-ENa {
          margin-bottom: 1.0125rem;
          width: 5rem;
          height: 4.375rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .sri-en-lnea-xZU {
          max-width: 7.9rem;
          color: #0000a3;
          font-family: Arimo, 'Source Sans Pro';
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.15;
          flex-shrink: 0;
        }
      }
      .tarjeta-contenido-sAe {
        padding: 3.169rem 2.85rem 2.65rem 2.85rem;
        cursor: pointer;
        display: flex;
        flex-shrink: 0;
        margin-right: 3.5rem;
        box-sizing: border-box;
        height: 100%;
        align-items: center;
        flex-direction: column;
        border-radius: 1rem;

        .print-PPt {
          flex-shrink: 0;
          margin-bottom: 2.0188rem;
          width: 4.0625rem;
          height: 4.0625rem;
          object-fit: contain;
          vertical-align: top;
        }
        .sri-en-lnea-iwx {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.15;
          color: #0000a3;
          font-family: Arimo, 'Source Sans Pro';
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .tarjeta-contenido-Dti {
        margin-right: 3.5rem;
        height: 100%;
        flex-shrink: 0;
        flex-direction: column;
        border-radius: 1rem;
        box-sizing: border-box;
        padding: 2.7rem 0rem 2.65rem 0rem;
        cursor: pointer;
        align-items: center;
        display: flex;

        .icon-calculator-LiS {
          margin: 0rem 0rem 1.55rem 0rem;
          width: 4.3742rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .sri-en-lnea-FqQ {
          display: flex;
          font-weight: 700;
          line-height: 1.15;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
          flex-shrink: 0;
        }
      }
      .tarjeta-contenido-AhU {
        box-sizing: border-box;
        padding: 2.7rem 4.05rem 1.8rem 4.05rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        flex-shrink: 0;
        height: 100%;
        cursor: pointer;

        .icon-person-gA2 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.7rem;
          width: 5rem;
          height: 5rem;
        }
        .sri-en-lnea-bnn {
          display: flex;
          align-items: center;
          font-size: 1.5rem;
          font-weight: 700;
          color: #0000a3;
          flex-shrink: 0;
          max-width: 5.5rem;
          line-height: 1.15;
          font-family: Arimo, 'Source Sans Pro';
          justify-content: center;
        }
      }
    }
  }
  .auto-group-xnxy-Ear {
    left: 2rem;
    top: 55.4rem;
    display: flex;
    align-items: flex-start;
    width: 150.8rem;
    height: 40.2rem;
    position: absolute;

    .bubble-9Sv {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 16.1rem 45.1rem 0rem 0rem;
      width: 5.7rem;

      .auto-group-fkr6-gBx {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 1.0454rem;
        width: 100%;

        .ellipse-7-bZp {
          margin-bottom: 1.8rem;
          width: 3.8rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          border-radius: 1.9rem;
          flex-shrink: 0;
          height: 3.8rem;
          background-position: center;
          background-image: url('REPLACE_IMAGE:73a1cf4271838bf15667067b58049c3307964705');
        }
        .ellipse-6-u4i {
          height: 3.8rem;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:ca0f93e8eaf1b48cf28c33c1253692c39a1c3991');
          flex-shrink: 0;
          margin-bottom: 1.8rem;
          width: 3.8rem;
          background-position: center;
          border-radius: 1.9rem;
          background-color: rgba(169, 163, 163, 0.200000003);
          background-size: 100% 100%;
        }
        .ellipse-4-fCJ {
          height: 3.8rem;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:263d8dcea041e80a05c917b13dd11c9586666f4e');
          border-radius: 1.9rem;
          margin-bottom: 1.6852rem;
          width: 3.8rem;
          background-color: rgba(169, 163, 163, 0.200000003);
          background-size: 100% 100%;
          background-position: center;
          flex-shrink: 0;
        }
        .essential-icons-chevron-right-mWE {
          margin-left: 1.4275rem;
          width: 0.8937rem;
          height: 0.6694rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-brev-6Hc {
        height: 5.7rem;
        position: relative;
        flex-shrink: 0;
        width: 100%;

        .ellipse-3-SsG {
          border-radius: 1.9rem;
          width: 3.8rem;
          position: absolute;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:32fc9cd97fad3435aa5665f1dd30ffc14ed08578');
          height: 3.8rem;
          left: 0;
          top: 0;
          background-color: rgba(169, 163, 163, 0.200000003);
        }
        .ellipse-5-kd4 {
          vertical-align: top;
          width: 5.7rem;
          height: 5.7rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
        }
      }
    }
    .slide-1-gmc {
      background-color: #ededed;
      flex-shrink: 0;
      width: 100rem;
      height: 21.6rem;
      position: relative;
      overflow: hidden;

      .image-4-q8i {
        opacity: 0.6;
        width: 43rem;
        height: 33.9rem;
        position: absolute;
        left: 92.8rem;
        top: -6.9rem;
        object-fit: cover;
        vertical-align: top;
      }
      .image-5-YJ2 {
        left: -32.2rem;
        top: -6.9rem;
        object-fit: cover;
        vertical-align: top;
        opacity: 0.6;
        width: 41.2rem;
        height: 33.9rem;
        position: absolute;
      }
      .auto-group-y28e-4nA {
        height: 47.3rem;
        position: absolute;
        left: 10.4rem;
        top: -8.3rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 80.9rem;

        .image-3-Bbt {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 13.3rem;
          width: 80.9rem;
          height: 29.9rem;
        }
        .colonia-del-sacramento-iri {
          flex-shrink: 0;
          margin: 0rem 24.8rem 0rem 33rem;
          width: calc(100% - 57.8rem);
          height: 4.1rem;
          position: relative;
          background-color: rgba(255, 255, 255, 0.6999999881);
          border-radius: 0.4rem;

          .colonia-del-sacramento-2sQ {
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            width: 19.1rem;
            height: 2.2rem;
            position: absolute;
            left: 2rem;
            font-size: 1.8rem;
            font-weight: 400;
            top: 1rem;
            text-align: center;
            line-height: 1.1725;
            white-space: nowrap;
          }
          .colonia-del-sacramento-Pzn {
            white-space: nowrap;
            display: flex;
            justify-content: center;
            border-radius: 0.4rem;
            top: 0;
            font-size: 1.8rem;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            align-items: center;
            background-color: rgba(255, 255, 255, 0);
            position: absolute;
            left: 5.3rem;
            height: 4.1rem;
            text-align: center;
            width: 12.6rem;
            font-weight: 400;
          }
          .colonia-del-sacramento-SiA {
            width: 15.5rem;
            height: 4.1rem;
            position: absolute;
            left: 3.8rem;
            top: 0;
            background-color: rgba(255, 255, 255, 0);
            border-radius: 0.4rem;

            .colonia-del-sacramento-yi6 {
              left: 2rem;
              top: 1rem;
              text-align: center;
              color: #000000;
              white-space: nowrap;
              position: absolute;
              height: 2.2rem;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.1725;
              font-family: Roboto, 'Source Sans Pro';
              width: 11.5rem;
            }
            .colonia-del-sacramento-s2n {
              width: 14.1rem;
              height: 4.1rem;
              position: absolute;
              left: 0.7rem;
              top: 0;
              background-color: rgba(255, 255, 255, 0);
              border-radius: 0.4rem;

              .colonia-del-sacramento-zt6 {
                line-height: 1.1725;
                height: 2.2rem;
                text-align: center;
                font-size: 1.8rem;
                top: 1rem;
                font-weight: 400;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                width: 10.1rem;
                position: absolute;
                left: 2rem;
              }
              .colonia-del-sacramento-UoG {
                font-family: Roboto, 'Source Sans Pro';
                width: 11.8rem;
                font-size: 1.8rem;
                display: flex;
                justify-content: center;
                border-radius: 0.4rem;
                text-align: center;
                line-height: 1.1725;
                white-space: nowrap;
                align-items: center;
                height: 4.1rem;
                color: #000000;
                top: 0;
                font-weight: 400;
                background-color: rgba(255, 255, 255, 0);
                position: absolute;
                left: 1.2rem;
              }
            }
          }
        }
      }
      .essential-icons-chevron-right-hAE {
        width: 4rem;
        height: 4.6364rem;
        position: absolute;
        left: 92.7rem;
        top: 7.5rem;
        object-fit: contain;
        vertical-align: top;
      }
      .essential-icons-chevron-left-Br6 {
        object-fit: contain;
        vertical-align: top;
        width: 4rem;
        height: 4.6087rem;
        position: absolute;
        left: 5rem;
        top: 7.5rem;
      }
    }
  }
  .videos-institucionales-UaJ {
    white-space: nowrap;
    height: 2.1rem;
    position: absolute;
    left: 6.8rem;
    top: 49.5rem;
    font-weight: 700;
    line-height: 1.15;
    font-family: Arimo, 'Source Sans Pro';
    width: 19rem;
    font-size: 1.8rem;
    color: #3f3f3f;
  }
  .pie-pagina-NQn {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    width: 192.5rem;
    height: 9rem;
    position: absolute;
    left: 0;
    top: 93.4rem;

    .auto-group-jzls-5a6 {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 0rem 1.2rem 0rem;
      width: calc(100% - 0rem);
      height: 6.8rem;
      display: flex;

      .auto-group-ptwc-amk {
        width: 79.9534rem;
        border-top: solid 0.1rem #3f3f3f;
        flex-shrink: 0;
        margin: 1.6rem 3.193rem 0rem 0rem;
        box-sizing: border-box;
        padding: 1rem 13.969rem 0rem 13.969rem;

        .image-1-UcE {
          height: 4.2rem;
          object-fit: cover;
          vertical-align: top;
          width: 21.2854rem;
        }
      }
      .social-icons-bgr {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 5.1883rem;
        width: 4.2571rem;
        height: 3.2rem;
      }
      .social-icons-8wg {
        flex-shrink: 0;
        margin-right: 5.3214rem;
        width: 4.2571rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
      }
      .social-icons-seN {
        margin-right: 3.1928rem;
        width: 4.2571rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-nbci-cM4 {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 1.55rem 0rem 0.6rem 0rem;
        height: calc(100% - 2.15rem);

        .line-6-Xyp {
          margin-bottom: 0.85rem;
          width: 82.8801rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .plataforma-gubernamental-financiera-av-amazonas-entre-unin-nacional-de-periodistas-y-jos-villalengua-quito-ecuador-telfono-02-393-6300-U8N {
          max-width: 42.4rem;
          font-weight: 400;
          color: #000000;
          flex-shrink: 0;
          margin-right: 8.6472rem;
          text-align: right;
          font-size: 1.1rem;
          line-height: 1.15;
          font-family: Arimo, 'Source Sans Pro';
        }
      }
    }
    .auto-group-rel6-gkE {
      width: 191.8348rem;
      height: 1rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-2-2JJ {
        top: 0;
        background-color: #0000ff;
        width: 57.4706rem;
        height: 1rem;
        position: absolute;
        left: 95.7844rem;
      }
      .rectangle-3-xxe {
        background-color: #ff0000;
        width: 38.6rem;
        height: 1rem;
        position: absolute;
        left: 153.2348rem;
        top: 0;
      }
      .rectangle-1-JWi {
        width: 95.7844rem;
        height: 1rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffff00;
      }
    }
  }
  .component-1-FRx {
    background-size: 100% 215.247%;
    background-position: 0 -0.542rem;
    background-image: url('REPLACE_IMAGE:d292b9472a26d33080ae1a0d78f7f3708b119c21');
    width: 192rem;
    height: 22.3rem;
    position: absolute;
    left: 0;
    top: 0;

    .rectangle-13-BqQ {
      opacity: 0.9;
      width: 192rem;
      height: 9.8rem;
      position: absolute;
      left: 0;
      top: 5.6rem;
      background-color: rgba(63, 63, 63, 0.8999999762);
    }
    .servicio-de-rentas-internas-uWW {
      height: 2.9rem;
      font-weight: 700;
      color: #ededed;
      font-family: Arimo, 'Source Sans Pro';
      white-space: nowrap;
      width: 40.4rem;
      position: absolute;
      left: 67.8667rem;
      top: 9.1rem;
      font-size: 2.5rem;
      line-height: 1.15;
    }
    .component-1-FRx-bg {
      background-image: url('REPLACE_IMAGE:d292b9472a26d33080ae1a0d78f7f3708b119c21');
      width: 192rem;
      height: 22.3rem;
      position: relative;
    }
  }
}
