
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.trmites-y-servicios-q1x {
  width: 100%;
  height: 162.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-bgrj-irS {
    padding: 1.5rem 57.5rem 1.5rem 69.3rem;
    width: 192rem;
    height: 8.4rem;
    position: absolute;
    left: 0;
    top: 36.4rem;
    background-color: #ededed;
    box-sizing: border-box;

    .buscador-DoC {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      align-items: center;
      border: solid 0.1rem #ededed;
      padding: 1.45rem 1rem;
      display: flex;
      background-color: #ffffff;
      border-radius: 1rem;

      .buscar-ACe {
        font-weight: 400;
        line-height: 1.15;
        color: #005ba3;
        font-family: Arimo, 'Source Sans Pro';
        margin-right: 56.6rem;
        font-size: 1.3rem;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
      .search-f9Q {
        width: 2.5rem;
        height: 2.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .navegacin-trmites-y-servicios-kAr {
    padding: 1rem 169.4rem 0.9rem 2.4rem;
    width: 192rem;
    height: 3.4rem;
    position: absolute;
    left: 0;
    top: 22.3rem;
    align-items: center;
    box-sizing: border-box;
    background-color: rgba(217, 217, 217, 0.400000006);
    display: flex;

    .portal-dVY {
      margin-right: 2.8667rem;
      font-size: 1.3rem;
      font-weight: 400;
      flex-shrink: 0;
      cursor: pointer;
      line-height: 1.15;
      color: #000000;
      font-family: Arimo, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item--Ler {
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.15;
      color: #000000;
      font-family: Arimo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 0.9333rem;
    }
    .trmites-y-servicios-Fmp {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 1.15;
      color: #000000;
      font-family: Arimo, 'Source Sans Pro';
    }
  }
  .trmites-y-servicios-NLe {
    font-family: Arimo, 'Source Sans Pro';
    white-space: nowrap;
    width: 38.7rem;
    height: 4.6rem;
    left: 84.2rem;
    top: 26.3rem;
    font-weight: 700;
    color: #000000;
    position: absolute;
    font-size: 4rem;
    line-height: 1.15;
  }
  .revise-aqu-informacin-de-los-trmites-y-servicios-que-el-servicio-de-rentas-internas-pone-a-su-disposicin-5F4 {
    white-space: nowrap;
    height: 1.5rem;
    left: 72.4rem;
    top: 30.9rem;
    font-size: 1.3rem;
    font-weight: 400;
    width: 62.3rem;
    position: absolute;
    line-height: 1.15;
    color: #000000;
    font-family: Arimo, 'Source Sans Pro';
  }
  .auto-group-nxwj-Xcr {
    width: 192rem;
    height: 108.6rem;
    left: 0;
    top: 44.8rem;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    padding: 5rem 8.9rem 2.6rem 6rem;
    position: absolute;
    row-gap: 4rem;
    align-items: center;

    .auto-group-apvp-23p {
      width: 100%;
      height: 31rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .claves-ZJe {
        display: flex;
        border: solid 0.1rem #dedede;
        margin-right: 5.3rem;
        box-sizing: border-box;
        padding: 2.55rem 7.2rem 1.572rem 7.2rem;
        height: 100%;
        position: relative;
        width: 40.3rem;
        overflow: hidden;
        align-items: center;
        flex-direction: column;
        flex-shrink: 0;

        .claves-Tev {
          margin-bottom: 2.55rem;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.15;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .claves-1-nBQ {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          width: 25.9rem;
          height: 13.3rem;
        }
        .informacin-sobre-procesos-de-claves-y-usuarios-adicionales-7Dg {
          flex-shrink: 0;
          margin: 0rem 0.5rem 1.5rem 0rem;
          max-width: 23rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
        }
        .boton-Pwt {
          background-color: #0000d6;
          border-radius: 1rem;
          flex-shrink: 0;
          height: 2.9278rem;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          line-height: 1.15;
          color: #ffffff;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          align-items: center;
          justify-content: center;
          margin: 0rem 3.122rem 0rem 3.3rem;
          width: calc(100% - 6.4217rem);
          display: flex;
        }
      }
      .ruc-S9U {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #dedede;
        flex-shrink: 0;
        margin-right: 5.3rem;
        padding: 2.55rem 6.3rem 1.572rem 5.6rem;
        width: 40.3rem;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;

        .ruc-YTQ {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          margin: 0rem 0rem 2.55rem 0.7rem;
          font-weight: 700;
          line-height: 1.15;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
        }
        .catastro-1-3ux {
          margin: 0rem 0rem 1.5rem 0.7rem;
          width: 26.3rem;
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .informacin-de-registro-nico-de-contribuyentes-NhL {
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 3rem;
          font-size: 1.3rem;
          font-weight: 400;
        }
        .boton-HpJ {
          width: calc(100% - 8.9217rem);
          line-height: 1.15;
          color: #ffffff;
          white-space: nowrap;
          height: 2.9278rem;
          display: flex;
          margin: 0rem 4.022rem 0rem 4.9rem;
          font-weight: 700;
          font-family: Arimo, 'Source Sans Pro';
          justify-content: center;
          text-align: center;
          font-size: 1.8rem;
          align-items: center;
          background-color: #0000d6;
          border-radius: 1rem;
          flex-shrink: 0;
        }
      }
      .facturacin-wtr {
        padding: 2.55rem 7.2rem 1.572rem 7.2rem;
        width: 40.3rem;
        overflow: hidden;
        align-items: center;
        border: solid 0.1rem #dedede;
        flex-shrink: 0;
        margin-right: 5.4rem;
        box-sizing: border-box;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;

        .facturacin-FuY {
          line-height: 1.15;
          font-family: Arimo, 'Source Sans Pro';
          margin-bottom: 2.55rem;
          display: flex;
          align-items: center;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          justify-content: center;
          font-size: 1.8rem;
          font-weight: 700;
        }
        .facturacion-1-NDU {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          width: 25.9rem;
          height: 13.3rem;
          object-fit: cover;
        }
        .informacin-sobre-procesos-de-facturacin-HrE {
          flex-shrink: 0;
          margin: 0rem 1.3rem 3rem 0rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
        }
        .boton-Bwc {
          color: #ffffff;
          font-family: Arimo, 'Source Sans Pro';
          justify-content: center;
          border-radius: 1rem;
          flex-shrink: 0;
          height: 2.9278rem;
          text-align: center;
          font-weight: 700;
          line-height: 1.15;
          background-color: #0000d6;
          margin: 0rem 3.122rem 0rem 3.3rem;
          width: calc(100% - 6.4217rem);
          font-size: 1.8rem;
          white-space: nowrap;
          display: flex;
          align-items: center;
        }
      }
      .entrega-y-recepcion-informacin-fiscal-S6r {
        box-sizing: border-box;
        overflow: hidden;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding: 1.5rem 7.2rem 1.572rem 7.1rem;
        width: 40.2rem;
        height: 100%;
        position: relative;
        row-gap: 1.5rem;
        border: solid 0.1rem #dedede;

        .entrega-y-recepcin-de-informacin-fiscal-iaA {
          font-weight: 700;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          font-size: 1.8rem;
          max-width: 24.8rem;
          align-items: center;
        }
        .entrega-y-recepcion-fiscal-1-RjU {
          flex-shrink: 0;
          width: 25.9rem;
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
        }
        .informacin-sobre-declaraciones-anexos-y-otros-Z4z {
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-left: 0.5rem;
          max-width: 24.8rem;
          font-size: 1.3rem;
          font-weight: 400;
        }
        .boton-GEJ {
          font-size: 1.8rem;
          white-space: nowrap;
          flex-shrink: 0;
          width: calc(100% - 6.47rem);
          align-items: center;
          justify-content: center;
          background-color: #0000d6;
          border-radius: 1rem;
          margin: 0rem 3.17rem 0rem 3.3rem;
          height: 2.9278rem;
          text-align: center;
          line-height: 1.15;
          color: #ffffff;
          display: flex;
          font-weight: 700;
          font-family: Arimo, 'Source Sans Pro';
        }
      }
    }
    .auto-group-wpzs-KiN {
      width: 100%;
      height: 31rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .pago-de-impuestos-Frv {
        flex-shrink: 0;
        margin-right: 5.3rem;
        padding: 2.55rem 7.2rem 1.572rem 7.2rem;
        flex-direction: column;
        border: solid 0.1rem #dedede;
        position: relative;
        align-items: center;
        display: flex;
        box-sizing: border-box;
        width: 40.3rem;
        height: 100%;
        overflow: hidden;

        .pago-de-impuestos-xWS {
          white-space: nowrap;
          font-size: 1.8rem;
          color: #000000;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          line-height: 1.15;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 2.55rem;
          display: flex;
        }
        .pagos-1-66r {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          width: 25.9rem;
          height: 13.3rem;
          object-fit: cover;
        }
        .informacin-sobre-procesos-de-pago-de-impuestos-R98 {
          max-width: 23rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 2.9rem 1.5rem 0rem;
        }
        .boton-vLn {
          flex-shrink: 0;
          width: calc(100% - 6.4217rem);
          font-size: 1.8rem;
          font-weight: 700;
          justify-content: center;
          border-radius: 1rem;
          height: 2.9278rem;
          text-align: center;
          color: #ffffff;
          font-family: Arimo, 'Source Sans Pro';
          align-items: center;
          white-space: nowrap;
          display: flex;
          background-color: #0000d6;
          margin: 0rem 3.122rem 0rem 3.3rem;
          line-height: 1.15;
        }
      }
      .deudas-PVG {
        box-sizing: border-box;
        width: 40.3rem;
        overflow: hidden;
        border: solid 0.1rem #dedede;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 5.3rem;
        padding: 2.55rem 6.4rem 1.572rem 6.3rem;
        height: 100%;
        position: relative;

        .deudas-uiW {
          margin: 0rem 0rem 2.55rem 0.1rem;
          align-items: center;
          justify-content: center;
          line-height: 1.15;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
          font-weight: 700;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
        }
        .deudas1-1-d8i {
          margin: 0rem 0rem 1.5rem 0.1rem;
          width: 26.3rem;
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .informacin-sobre-procesos-de-pago-de-deudas-A8e {
          flex-shrink: 0;
          margin-bottom: 3rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
        }
        .boton-gMt {
          font-family: Arimo, 'Source Sans Pro';
          justify-content: center;
          flex-shrink: 0;
          width: calc(100% - 8.1217rem);
          font-size: 1.8rem;
          text-align: center;
          margin: 0rem 4.078rem 0rem 4.044rem;
          height: 2.9278rem;
          border-radius: 1rem;
          font-weight: 700;
          background-color: #0000d6;
          white-space: nowrap;
          display: flex;
          align-items: center;
          line-height: 1.15;
          color: #ffffff;
        }
      }
      .devoluciones-y-reintegro-wYi {
        box-sizing: border-box;
        padding: 1.5rem 7.2rem 1.572rem 7.2rem;
        height: 100%;
        overflow: hidden;
        align-items: center;
        display: flex;
        margin-right: 5.4rem;
        width: 40.3rem;
        position: relative;
        row-gap: 1.5rem;
        flex-direction: column;
        border: solid 0.1rem #dedede;
        flex-shrink: 0;

        .devoluciones-y-reintegro-SEa {
          align-items: center;
          font-size: 1.8rem;
          flex-shrink: 0;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          max-width: 16.2rem;
          display: flex;
          justify-content: center;
          font-weight: 700;
        }
        .deudas-2-kFG {
          vertical-align: top;
          flex-shrink: 0;
          width: 25.9rem;
          height: 13.3rem;
          object-fit: cover;
        }
        .informacin-sobre-procesos-de-devoluciones-y-acreditaciones-6K8 {
          flex-shrink: 0;
          margin-right: 0.1rem;
          max-width: 25.8rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
        }
        .boton-ojL {
          text-align: center;
          font-weight: 700;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          margin: 0rem 3.122rem 0rem 3.3rem;
          line-height: 1.15;
          color: #ffffff;
          background-color: #0000d6;
          flex-shrink: 0;
          height: 2.9278rem;
          font-size: 1.8rem;
          font-family: Arimo, 'Source Sans Pro';
          align-items: center;
          border-radius: 1rem;
          width: calc(100% - 6.4217rem);
        }
      }
      .trmites-y-notificaciones-GN2 {
        align-items: center;
        display: flex;
        box-sizing: border-box;
        padding: 1.5rem 7.3rem 1.572rem 7rem;
        height: 100%;
        overflow: hidden;
        row-gap: 1.5rem;
        width: 40.2rem;
        position: relative;
        flex-direction: column;
        border: solid 0.1rem #dedede;
        flex-shrink: 0;

        .trmites-y-notificaciones-MeN {
          justify-content: center;
          font-size: 1.8rem;
          line-height: 1.15;
          display: flex;
          align-items: center;
          font-weight: 700;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 15.4rem;
        }
        .tramites-y-notificaciones-1-GWS {
          flex-shrink: 0;
          width: 25.9rem;
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
        }
        .informacin-sobre-procesos-de-trmites-y-notificaciones-yfk {
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 1.8rem;
          max-width: 23.9rem;
        }
        .boton-tXp {
          height: 2.9278rem;
          font-size: 1.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 3.07rem 0rem 3.4rem;
          text-align: center;
          font-weight: 700;
          color: #ffffff;
          border-radius: 1rem;
          width: calc(100% - 6.47rem);
          line-height: 1.15;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
          background-color: #0000d6;
        }
      }
    }
    .auto-group-jjk2-x1t {
      width: 100%;
      height: 31rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .certificados-tributarios-686 {
        flex-direction: column;
        border: solid 0.1rem #dedede;
        padding: 1.5rem 7.2rem 1.572rem 7.2rem;
        width: 40.3rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        row-gap: 1.5rem;
        align-items: center;
        display: flex;
        margin-right: 5.3rem;
        box-sizing: border-box;
        flex-shrink: 0;

        .certificados-tributarios-BQS {
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-size: 1.8rem;
          font-family: Arimo, 'Source Sans Pro';
          color: #000000;
          max-width: 13.5rem;
          justify-content: center;
          font-weight: 700;
          line-height: 1.15;
        }
        .certificados-tributarios-1-Vvv {
          width: 25.9rem;
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .informacin-sobre-procesos-de-certificados-tributarios-Edc {
          margin-right: 1.1rem;
          max-width: 24.8rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .boton-MCS {
          font-weight: 700;
          color: #ffffff;
          font-size: 1.8rem;
          line-height: 1.15;
          align-items: center;
          background-color: #0000d6;
          border-radius: 1rem;
          text-align: center;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          justify-content: center;
          flex-shrink: 0;
          width: calc(100% - 6.4217rem);
          height: 2.9278rem;
          margin: 0rem 3.278rem 0rem 3.144rem;
        }
      }
      .impuestos-vehiculares-Cir {
        display: flex;
        border: solid 0.1rem #dedede;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 40.3rem;
        align-items: center;
        overflow: hidden;
        position: relative;
        flex-direction: column;
        margin-right: 5.3rem;
        padding: 2.55rem 7rem 1.572rem 7rem;
        height: 100%;

        .impuestos-vehiculares-u7U {
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          line-height: 1.15;
          font-weight: 700;
          color: #000000;
          flex-shrink: 0;
          margin-bottom: 2.55rem;
          display: flex;
          font-size: 1.8rem;
        }
        .impuestos-vehiculares-1-cna {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          width: 26.3rem;
          height: 13.3rem;
        }
        .informacin-sobre-procesos-de-impuestos-vehiculares-MVG {
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 1.7rem 1.5rem 0rem;
          max-width: 24.2rem;
        }
        .boton-rwp {
          margin: 0rem 3.322rem 0rem 3.5rem;
          text-align: center;
          font-size: 1.8rem;
          line-height: 1.15;
          color: #ffffff;
          align-items: center;
          flex-shrink: 0;
          width: calc(100% - 6.8217rem);
          height: 2.9278rem;
          font-weight: 700;
          justify-content: center;
          background-color: #0000d6;
          border-radius: 1rem;
          display: flex;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .ice-XYA {
        flex-shrink: 0;
        margin-right: 5.4rem;
        box-sizing: border-box;
        padding: 2.55rem 7.2rem 1.572rem 7.2rem;
        overflow: hidden;
        position: relative;
        display: flex;
        border: solid 0.1rem #dedede;
        width: 40.3rem;
        height: 100%;
        align-items: center;
        flex-direction: column;

        .ice-qYr {
          display: flex;
          justify-content: center;
          font-weight: 700;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.75rem;
          flex-shrink: 0;
          font-size: 1.8rem;
          align-items: center;
        }
        .ice-1-Ar2 {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          width: 25.9rem;
          height: 13.1rem;
        }
        .informacin-sobre-impuestos-a-los-consumos-especiales-JxE {
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 6rem 1.5rem 0rem;
          max-width: 19.9rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
        }
        .boton-NBQ {
          flex-shrink: 0;
          margin: 0rem 3.122rem 0rem 3.3rem;
          font-size: 1.8rem;
          font-weight: 700;
          align-items: center;
          border-radius: 1rem;
          width: calc(100% - 6.4217rem);
          text-align: center;
          font-family: Arimo, 'Source Sans Pro';
          line-height: 1.15;
          white-space: nowrap;
          background-color: #0000d6;
          justify-content: center;
          height: 2.9278rem;
          color: #ffffff;
          display: flex;
        }
      }
      .otras-peticiones-mjL {
        align-items: center;
        flex-direction: column;
        border: solid 0.1rem #dedede;
        box-sizing: border-box;
        padding: 2.55rem 7.2rem 1.572rem 7.1rem;
        width: 40.2rem;
        display: flex;
        flex-shrink: 0;
        height: 100%;
        overflow: hidden;
        position: relative;

        .otras-peticiones-5EE {
          justify-content: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.15;
          color: #000000;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.55rem;
        }
        .otras-peticiones-1-oAE {
          margin-bottom: 1.5rem;
          width: 25.9rem;
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .informacin-sobre-procesos-de-otras-peticiones-Xc2 {
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 4.8rem 1.5rem 0rem;
          max-width: 21.1rem;
        }
        .boton-2Ht {
          font-weight: 700;
          color: #ffffff;
          white-space: nowrap;
          line-height: 1.15;
          font-family: Arimo, 'Source Sans Pro';
          align-items: center;
          background-color: #0000d6;
          margin: 0rem 3.17rem 0rem 3.3rem;
          font-size: 1.8rem;
          border-radius: 1rem;
          flex-shrink: 0;
          justify-content: center;
          width: calc(100% - 6.47rem);
          height: 2.9278rem;
          text-align: center;
          display: flex;
        }
      }
    }
  }
  .pie-pagina-5GA {
    flex-direction: column;
    width: 192rem;
    height: 9rem;
    position: absolute;
    left: 0;
    top: 153.4rem;
    align-items: flex-end;
    display: flex;

    .auto-group-txxy-Cra {
      width: 100%;
      height: 6.8rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 1.2rem;

      .auto-group-sejx-918 {
        padding: 1rem 13.932rem 0rem 13.932rem;
        width: 79.7457rem;
        border-top: solid 0.1rem #3f3f3f;
        flex-shrink: 0;
        margin: 1.6rem 3.185rem 0rem 0rem;
        box-sizing: border-box;

        .image-1-3MQ {
          width: 21.2301rem;
          height: 4.2rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .social-icons-yF4 {
        flex-shrink: 0;
        margin-right: 5.1748rem;
        width: 4.246rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
      }
      .social-icons-hwk {
        margin-right: 5.3075rem;
        width: 4.246rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .social-icons-eMC {
        margin-right: 3.1845rem;
        width: 4.246rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-bnfg-niJ {
        margin: 1.55rem 0rem 0.6rem 0rem;
        height: calc(100% - 2.15rem);
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .line-6-i6A {
          width: 82.6648rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.85rem;
        }
        .plataforma-gubernamental-financiera-av-amazonas-entre-unin-nacional-de-periodistas-y-jos-villalengua-quito-ecuador-telfono-02-393-6300-TZY {
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 8.6247rem;
          max-width: 42.4rem;
          text-align: right;
          font-size: 1.1rem;
          color: #000000;
          font-weight: 400;
          line-height: 1.15;
        }
      }
    }
    .auto-group-a4yt-hTt {
      width: 191.3366rem;
      height: 1rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-2-Eyc {
        width: 57.3214rem;
        height: 1rem;
        position: absolute;
        left: 95.5356rem;
        top: 0;
        background-color: #0000ff;
      }
      .rectangle-3-myY {
        background-color: #ff0000;
        width: 38.5rem;
        height: 1rem;
        position: absolute;
        left: 152.8366rem;
        top: 0;
      }
      .rectangle-1-7nW {
        background-color: #ffff00;
        width: 95.5356rem;
        height: 1rem;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  .component-2-fZ8 {
    background-size: 100% 215.247%;
    background-position: 0 -0.542rem;
    background-image: url('REPLACE_IMAGE:d292b9472a26d33080ae1a0d78f7f3708b119c21');
    width: 192rem;
    height: 22.3rem;
    position: absolute;
    left: 0;
    top: 0;

    .rectangle-13-ovE {
      left: 0;
      top: 5.6rem;
      background-color: rgba(63, 63, 63, 0.8999999762);
      opacity: 0.9;
      width: 192rem;
      height: 9.8rem;
      position: absolute;
    }
    .servicio-de-rentas-internas-vzr {
      white-space: nowrap;
      left: 67.8667rem;
      font-size: 2.5rem;
      position: absolute;
      top: 9.1rem;
      font-weight: 700;
      line-height: 1.15;
      color: #ededed;
      font-family: Arimo, 'Source Sans Pro';
      width: 40.4rem;
      height: 2.9rem;
    }
    .component-2-fZ8-bg {
      width: 192rem;
      height: 22.3rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:d292b9472a26d33080ae1a0d78f7f3708b119c21');
    }
  }
}
