
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.trmites-y-servicios-rTg {
  height: 162.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .auto-group-txlr-yYJ {
    box-sizing: border-box;
    padding: 1.5rem 39.4rem;
    width: 144rem;
    height: 8.4rem;
    position: absolute;
    left: 0;
    top: 36.4rem;
    background-color: #ededed;

    .buscador-HYz {
      box-sizing: border-box;
      padding: 1.45rem 1rem;
      width: 100%;
      display: flex;
      align-items: center;
      border: solid 0.1rem #ededed;
      height: 100%;
      background-color: #ffffff;
      border-radius: 1rem;

      .buscar-Rv6 {
        margin-right: 56.6rem;
        font-size: 1.3rem;
        line-height: 1.15;
        color: #005ba3;
        display: flex;
        font-weight: 400;
        font-family: Arimo, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .search-9bC {
        height: 2.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 2.5rem;
      }
    }
  }
  .navegacin-trmites-y-servicios-3wU {
    box-sizing: border-box;
    width: 144rem;
    position: absolute;
    left: 0;
    top: 22.3rem;
    display: flex;
    padding: 1rem 123.9rem 0.9rem 1.8rem;
    height: 3.4rem;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.400000006);

    .portal-7RY {
      margin-right: 1.3rem;
      font-size: 1.3rem;
      font-weight: 400;
      color: #000000;
      font-family: Arimo, 'Source Sans Pro';
      cursor: pointer;
      line-height: 1.15;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .item--brW {
      flex-shrink: 0;
      margin-right: 0.6rem;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.15;
      color: #000000;
      font-family: Arimo, 'Source Sans Pro';
      white-space: nowrap;
    }
    .trmites-y-servicios-Wia {
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 1.15;
      color: #000000;
      font-family: Arimo, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .trmites-y-servicios-doC {
    height: 4.6rem;
    top: 28rem;
    font-size: 4rem;
    line-height: 1.15;
    color: #000000;
    white-space: nowrap;
    width: 38.7rem;
    position: absolute;
    left: 52.6rem;
    font-weight: 700;
    font-family: Arimo, 'Source Sans Pro';
  }
  .revise-aqu-informacin-de-los-trmites-y-servicios-que-el-servicio-de-rentas-internas-pone-a-su-disposicin-LxW {
    width: 62.3rem;
    height: 1.5rem;
    left: 40.8rem;
    font-weight: 400;
    line-height: 1.15;
    white-space: nowrap;
    position: absolute;
    top: 32.6rem;
    font-size: 1.3rem;
    color: #000000;
    font-family: Arimo, 'Source Sans Pro';
  }
  .auto-group-yjij-CUv {
    row-gap: 4rem;
    align-items: center;
    padding: 5rem 6rem 2.6rem 6rem;
    width: 144rem;
    height: 108.6rem;
    position: absolute;
    left: 0;
    top: 44.8rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .auto-group-xcnj-g9C {
      width: 100%;
      height: 31rem;
      display: flex;
      column-gap: 4rem;
      align-items: center;
      flex-shrink: 0;

      .claves-ytz {
        padding: 2.55rem 2.1rem 1.572rem 2rem;
        overflow: hidden;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 30rem;
        height: 100%;
        position: relative;
        border: solid 0.1rem #dedede;

        .claves-ha6 {
          font-size: 1.8rem;
          line-height: 1.15;
          color: #000000;
          display: flex;
          justify-content: center;
          font-weight: 700;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.55rem;
          align-items: center;
        }
        .claves-1-pei {
          margin-bottom: 1.5rem;
          width: 25.9rem;
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .informacin-sobre-procesos-de-claves-y-usuarios-adicionales-ATg {
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 2.9rem 1.5rem 0rem;
          max-width: 23rem;
          font-size: 1.3rem;
        }
        .boton-4Z4 {
          margin: 0 5.7rem;
          font-size: 1.8rem;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          display: flex;
          align-items: center;
          background-color: #7070ff;
          justify-content: center;
          border-radius: 1rem;
          width: calc(100% - 11.4rem);
          font-weight: 700;
          line-height: 1.15;
          white-space: nowrap;
          height: 2.9278rem;
          color: #ffffff;
        }
      }
      .ruc-8op {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 2.55rem 2.1rem 1.572rem 1.6rem;
        width: 30rem;
        overflow: hidden;
        position: relative;
        height: 100%;
        align-items: center;
        border: solid 0.1rem #dedede;
        flex-shrink: 0;

        .ruc-cDC {
          margin: 0rem 0rem 2.55rem 0.4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          line-height: 1.15;
          font-family: Arimo, 'Source Sans Pro';
          font-size: 1.8rem;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .catastro-1-UFQ {
          margin-bottom: 1.5rem;
          width: 26.3rem;
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .informacin-de-registro-nico-de-contribuyentes-Qer {
          margin: 0rem 6.2rem 1.5rem 0rem;
          max-width: 19.3rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .boton-gcN {
          font-size: 1.8rem;
          white-space: nowrap;
          display: flex;
          background-color: #7070ff;
          border-radius: 1rem;
          margin: 0rem 5.7rem 0rem 6.1rem;
          text-align: center;
          font-family: Arimo, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          height: 2.9278rem;
          font-weight: 700;
          width: calc(100% - 11.8rem);
          line-height: 1.15;
          color: #ffffff;
          flex-shrink: 0;
        }
      }
      .facturacin-kcE {
        height: 100%;
        overflow: hidden;
        align-items: center;
        display: flex;
        border: solid 0.1rem #dedede;
        box-sizing: border-box;
        width: 30rem;
        position: relative;
        flex-direction: column;
        flex-shrink: 0;
        padding: 2.55rem 2.1rem 1.572rem 2rem;

        .facturacin-sgr {
          font-weight: 700;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-size: 1.8rem;
          font-family: Arimo, 'Source Sans Pro';
          margin-bottom: 2.55rem;
          justify-content: center;
          line-height: 1.15;
        }
        .facturacion-1-arA {
          margin-bottom: 1.5rem;
          width: 25.9rem;
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .informacin-sobre-procesos-de-facturacin-KYr {
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 1.3rem 3rem 0rem;
          font-size: 1.3rem;
        }
        .boton-ajg {
          line-height: 1.15;
          white-space: nowrap;
          background-color: #7070ff;
          width: calc(100% - 11.4rem);
          justify-content: center;
          border-radius: 1rem;
          flex-shrink: 0;
          height: 2.9278rem;
          text-align: center;
          font-size: 1.8rem;
          font-family: Arimo, 'Source Sans Pro';
          display: flex;
          align-items: center;
          margin: 0 5.7rem;
          font-weight: 700;
          color: #ffffff;
        }
      }
      .entrega-y-recepcion-informacin-fiscal-qvW {
        height: 100%;
        position: relative;
        row-gap: 1.5rem;
        align-items: center;
        border: solid 0.1rem #dedede;
        padding: 1.5rem 2.1rem 1.572rem 2rem;
        width: 30rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;

        .entrega-y-recepcin-de-informacin-fiscal-M8A {
          justify-content: center;
          font-size: 1.8rem;
          color: #000000;
          line-height: 1.15;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 24.8rem;
          display: flex;
          align-items: center;
          font-weight: 700;
        }
        .entrega-y-recepcion-fiscal-1-TBC {
          width: 25.9rem;
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .informacin-sobre-declaraciones-anexos-y-otros-M1g {
          max-width: 24.8rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 1.1rem;
        }
        .boton-fYA {
          flex-shrink: 0;
          margin: 0 5.7rem;
          font-size: 1.8rem;
          color: #ffffff;
          font-family: Arimo, 'Source Sans Pro';
          justify-content: center;
          background-color: #7070ff;
          height: 2.9278rem;
          line-height: 1.15;
          white-space: nowrap;
          border-radius: 1rem;
          width: calc(100% - 11.4rem);
          text-align: center;
          align-items: center;
          font-weight: 700;
          display: flex;
        }
      }
    }
    .auto-group-cg5u-kJi {
      height: 31rem;
      display: flex;
      column-gap: 4rem;
      align-items: center;
      flex-shrink: 0;
      width: 100%;

      .pago-de-impuestos-67g {
        border: solid 0.1rem #dedede;
        box-sizing: border-box;
        padding: 2.55rem 2.1rem 1.572rem 2rem;
        height: 100%;
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 30rem;
        overflow: hidden;
        flex-shrink: 0;

        .pago-de-impuestos-DCJ {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.15;
          color: #000000;
          flex-shrink: 0;
          margin-bottom: 2.55rem;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
        }
        .pagos-1-jwL {
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          width: 25.9rem;
        }
        .informacin-sobre-procesos-de-pago-de-impuestos-V9p {
          flex-shrink: 0;
          margin: 0rem 2.9rem 1.5rem 0rem;
          max-width: 23rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
        }
        .boton-mt2 {
          margin: 0 5.7rem;
          white-space: nowrap;
          align-items: center;
          font-weight: 700;
          font-family: Arimo, 'Source Sans Pro';
          line-height: 1.15;
          color: #ffffff;
          display: flex;
          justify-content: center;
          border-radius: 1rem;
          width: calc(100% - 11.4rem);
          font-size: 1.8rem;
          background-color: #7070ff;
          flex-shrink: 0;
          height: 2.9278rem;
          text-align: center;
        }
      }
      .deudas-fCi {
        flex-direction: column;
        box-sizing: border-box;
        height: 100%;
        overflow: hidden;
        align-items: center;
        border: solid 0.1rem #dedede;
        flex-shrink: 0;
        padding: 2.55rem 2.1rem 1.572rem 1.6rem;
        width: 30rem;
        position: relative;
        display: flex;

        .deudas-P8i {
          align-items: center;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 2.55rem 0.4rem;
          display: flex;
          justify-content: center;
          font-size: 1.8rem;
          font-weight: 700;
        }
        .deudas1-1-74i {
          width: 26.3rem;
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
        }
        .informacin-sobre-procesos-de-pago-de-deudas-wZY {
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 2.5rem 1.5rem 0rem;
          max-width: 23rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
        }
        .boton-13c {
          align-items: center;
          border-radius: 1rem;
          flex-shrink: 0;
          width: calc(100% - 11.8rem);
          text-align: center;
          font-weight: 700;
          font-family: Arimo, 'Source Sans Pro';
          height: 2.9278rem;
          line-height: 1.15;
          color: #ffffff;
          white-space: nowrap;
          margin: 0rem 5.7rem 0rem 6.1rem;
          display: flex;
          justify-content: center;
          background-color: #7070ff;
          font-size: 1.8rem;
        }
      }
      .devoluciones-y-reintegro-DfU {
        position: relative;
        row-gap: 1.5rem;
        flex-direction: column;
        border: solid 0.1rem #dedede;
        width: 30rem;
        overflow: hidden;
        height: 100%;
        align-items: center;
        display: flex;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.5rem 2.1rem 1.572rem 2rem;

        .devoluciones-y-reintegro-6DU {
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          font-size: 1.8rem;
          font-weight: 700;
          max-width: 16.2rem;
          display: flex;
          line-height: 1.15;
          flex-shrink: 0;
        }
        .auto-group-esqx-odg {
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:3a6fb3b299a2a34f9563c7905026f58b02b0b149');
          flex-shrink: 0;
          width: 100%;
          background-size: 100% 100%;

          .deudas-2-Aj8 {
            width: 25.9rem;
            height: 13.3rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .informacin-sobre-procesos-de-devoluciones-y-acreditaciones-VmQ {
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 0.1rem;
          max-width: 25.8rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
        }
        .boton-QtN {
          text-align: center;
          color: #ffffff;
          justify-content: center;
          background-color: #7070ff;
          font-size: 1.8rem;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: center;
          margin: 0 5.7rem;
          width: calc(100% - 11.4rem);
          font-weight: 700;
          line-height: 1.15;
          height: 2.9278rem;
          border-radius: 1rem;
          flex-shrink: 0;
        }
      }
      .trmites-y-notificaciones-4i2 {
        border: solid 0.1rem #dedede;
        flex-shrink: 0;
        box-sizing: border-box;
        height: 100%;
        position: relative;
        row-gap: 1.5rem;
        display: flex;
        flex-direction: column;
        padding: 1.5rem 2.1rem 1.572rem 2rem;
        width: 30rem;
        overflow: hidden;
        align-items: center;

        .trmites-y-notificaciones-Mh8 {
          justify-content: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.15;
          flex-shrink: 0;
          max-width: 15.4rem;
          display: flex;
          align-items: center;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
        }
        .tramites-y-notificaciones-1-Gp6 {
          flex-shrink: 0;
          width: 25.9rem;
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
        }
        .informacin-sobre-procesos-de-trmites-y-notificaciones-cNA {
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 2rem;
          max-width: 23.9rem;
          font-size: 1.3rem;
          font-weight: 400;
        }
        .boton-742 {
          margin: 0 5.7rem;
          font-size: 1.8rem;
          color: #ffffff;
          border-radius: 1rem;
          height: 2.9278rem;
          font-weight: 700;
          justify-content: center;
          text-align: center;
          font-family: Arimo, 'Source Sans Pro';
          display: flex;
          align-items: center;
          background-color: #7070ff;
          flex-shrink: 0;
          width: calc(100% - 11.4rem);
          line-height: 1.15;
          white-space: nowrap;
        }
      }
    }
    .auto-group-dtwa-aTQ {
      width: 100%;
      height: 31rem;
      display: flex;
      column-gap: 4rem;
      align-items: center;
      flex-shrink: 0;

      .certificados-tributarios-7y8 {
        width: 30rem;
        row-gap: 1.5rem;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #dedede;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.5rem 2.1rem 1.572rem 2rem;
        position: relative;
        align-items: center;
        height: 100%;
        overflow: hidden;

        .certificados-tributarios-b7c {
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          align-items: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.15;
          max-width: 13.5rem;
          display: flex;
          justify-content: center;
          flex-shrink: 0;
        }
        .certificados-tributarios-1-ii2 {
          flex-shrink: 0;
          width: 25.9rem;
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
        }
        .informacin-sobre-procesos-de-certificados-tributarios-f7U {
          max-width: 24.8rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 1.1rem;
        }
        .boton-aVL {
          border-radius: 1rem;
          flex-shrink: 0;
          margin: 0 5.7rem;
          width: calc(100% - 11.4rem);
          height: 2.9278rem;
          font-size: 1.8rem;
          white-space: nowrap;
          display: flex;
          align-items: center;
          text-align: center;
          color: #ffffff;
          background-color: #7070ff;
          font-weight: 700;
          line-height: 1.15;
          font-family: Arimo, 'Source Sans Pro';
          justify-content: center;
        }
      }
      .impuestos-vehiculares-Gd4 {
        width: 30rem;
        overflow: hidden;
        position: relative;
        border: solid 0.1rem #dedede;
        flex-shrink: 0;
        box-sizing: border-box;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 2.55rem 2.1rem 1.572rem 1.6rem;

        .impuestos-vehiculares-Phg {
          margin: 0rem 0rem 2.55rem 0.4rem;
          align-items: center;
          font-weight: 700;
          line-height: 1.15;
          color: #000000;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          font-size: 1.8rem;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .impuestos-vehiculares-1-KLS {
          margin-bottom: 1.5rem;
          width: 26.3rem;
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .informacin-sobre-procesos-de-impuestos-vehiculares-RPU {
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 1.3rem 1.5rem 0rem;
          max-width: 24.2rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
        }
        .boton-JTG {
          color: #ffffff;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          width: calc(100% - 11.8rem);
          height: 2.9278rem;
          font-weight: 700;
          align-items: center;
          justify-content: center;
          line-height: 1.15;
          display: flex;
          border-radius: 1rem;
          margin: 0rem 5.7rem 0rem 6.1rem;
          text-align: center;
          font-size: 1.8rem;
          background-color: #7070ff;
          flex-shrink: 0;
        }
      }
      .ice-twG {
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.55rem 2.1rem 1.572rem 2rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #dedede;
        width: 30rem;
        height: 100%;
        position: relative;

        .ice-RAW {
          display: flex;
          justify-content: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.15;
          color: #000000;
          white-space: nowrap;
          margin-bottom: 2.55rem;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          align-items: center;
        }
        .auto-group-pk5g-vd4 {
          padding-top: 0.2rem;
          width: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:3a6fb3b299a2a34f9563c7905026f58b02b0b149');
          margin-bottom: 1.5rem;
          box-sizing: border-box;
          background-size: 100% 100%;
          flex-shrink: 0;

          .ice-1-soC {
            height: 13.1rem;
            object-fit: cover;
            vertical-align: top;
            width: 25.9rem;
          }
        }
        .informacin-sobre-impuestos-a-los-consumos-especiales-aSi {
          margin: 0rem 6rem 1.5rem 0rem;
          max-width: 19.9rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .boton-gke {
          line-height: 1.15;
          justify-content: center;
          flex-shrink: 0;
          margin: 0 5.7rem;
          width: calc(100% - 11.4rem);
          height: 2.9278rem;
          text-align: center;
          font-weight: 700;
          display: flex;
          background-color: #7070ff;
          color: #ffffff;
          align-items: center;
          font-size: 1.8rem;
          font-family: Arimo, 'Source Sans Pro';
          white-space: nowrap;
          border-radius: 1rem;
        }
      }
      .otras-peticiones-yDx {
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #dedede;
        padding: 2.55rem 2.1rem 1.572rem 2rem;
        width: 30rem;
        height: 100%;
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
        align-items: center;
        flex-shrink: 0;

        .otras-peticiones-63g {
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.15;
          color: #000000;
          white-space: nowrap;
          margin-bottom: 2.55rem;
          align-items: center;
          justify-content: center;
          font-family: Arimo, 'Source Sans Pro';
        }
        .otras-peticiones-1-RLr {
          width: 25.9rem;
          height: 13.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
        }
        .informacin-sobre-procesos-de-otras-peticiones-xra {
          line-height: 1.15;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 4.8rem 1.5rem 0rem;
          max-width: 21.1rem;
          font-size: 1.3rem;
          font-weight: 400;
        }
        .boton-3NE {
          align-items: center;
          justify-content: center;
          height: 2.9278rem;
          color: #ffffff;
          white-space: nowrap;
          background-color: #7070ff;
          flex-shrink: 0;
          margin: 0 5.7rem;
          text-align: center;
          font-weight: 700;
          font-family: Arimo, 'Source Sans Pro';
          display: flex;
          width: calc(100% - 11.4rem);
          line-height: 1.15;
          border-radius: 1rem;
          font-size: 1.8rem;
        }
      }
    }
  }
  .pie-pagina-4Rk {
    flex-direction: column;
    width: 144.7rem;
    height: 9rem;
    position: absolute;
    left: 0;
    top: 153.4rem;
    align-items: center;
    display: flex;

    .auto-group-fdwv-nsY {
      height: 6.8rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 1.2rem;
      width: 100%;

      .auto-group-ckle-tva {
        padding: 1rem 10.5rem 0rem 10.5rem;
        width: 60.1rem;
        border-top: solid 0.1rem #3f3f3f;
        flex-shrink: 0;
        margin: 1.6rem 2.4rem 0rem 0rem;
        box-sizing: border-box;

        .image-1-1EW {
          width: 16rem;
          height: 4.2rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .social-icons-Xie {
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 3.9rem;
        width: 3.2rem;
      }
      .social-icons-qzE {
        width: 3.2rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4rem;
      }
      .social-icons-bTc {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.4rem;
        width: 3.2rem;
        height: 3.2rem;
      }
      .auto-group-fvz8-wXU {
        margin: 1.55rem 0rem 0.6rem 0rem;
        height: calc(100% - 2.15rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .line-6-rPY {
          margin-bottom: 0.85rem;
          width: 62.3rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .plataforma-gubernamental-financiera-av-amazonas-entre-unin-nacional-de-periodistas-y-jos-villalengua-quito-ecuador-telfono-02-393-6300-Bwc {
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 42.4rem;
          font-size: 1.1rem;
          line-height: 1.15;
          color: #000000;
          margin-left: 6.9rem;
          text-align: right;
          font-weight: 400;
        }
      }
    }
    .auto-group-5p8i-S6r {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0.2rem 0rem 0.5rem;
      width: calc(100% - 0.7rem);
      display: flex;

      .rectangle-1-m98 {
        width: 72rem;
        height: 1rem;
        background-color: #ffff00;
        flex-shrink: 0;
      }
      .rectangle-2-5vW {
        width: 43.2rem;
        height: 1rem;
        background-color: #0000ff;
        flex-shrink: 0;
      }
      .rectangle-3-3MY {
        height: 1rem;
        background-color: #ff0000;
        flex-shrink: 0;
        width: 28.8rem;
      }
    }
  }
  .component-2-yFC {
    position: absolute;
    left: 0;
    top: 0;
    background-size: 100% 215.247%;
    background-position: 0 -0.542rem;
    background-image: url('REPLACE_IMAGE:d292b9472a26d33080ae1a0d78f7f3708b119c21');
    width: 144rem;
    height: 22.3rem;

    .rectangle-13-SPg {
      position: absolute;
      left: 0;
      top: 5.6rem;
      background-color: rgba(0, 0, 0, 0.400000006);
      width: 144rem;
      height: 9.8rem;
    }
    .servicio-de-rentas-internas-mwk {
      font-size: 2.5rem;
      color: #ededed;
      white-space: nowrap;
      top: 9.1rem;
      font-weight: 700;
      line-height: 1.15;
      font-family: Arimo, 'Source Sans Pro';
      width: 40.4rem;
      height: 2.9rem;
      position: absolute;
      left: 50.9rem;
    }
    .component-2-yFC-bg {
      width: 144rem;
      height: 22.3rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:d292b9472a26d33080ae1a0d78f7f3708b119c21');
    }
  }
}
