
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.calculadora-de-impuesto-a-la-renta-JdL {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.calculadora-de-impuesto-a-la-renta-JdL .component-2-d9p {
  width: 100%;
  height: 22.3rem;
  position: relative;
  background-size: 100% 215.247%;
  background-position: 0 -0.542rem;
  background-image: url('../assets/palaciocarondelet-1-bg-VAe.png');
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .component-2-d9p .rectangle-13-mmp {
  width: 192rem;
  height: 9.8rem;
  position: absolute;
  left: 0;
  top: 5.6rem;
  background-color: rgba(0, 0, 0, 0.400000006);
}
.calculadora-de-impuesto-a-la-renta-JdL .component-2-d9p .servicio-de-rentas-internas-Gia {
  width: 40.4rem;
  height: 2.9rem;
  position: absolute;
  left: 67.8667rem;
  top: 9.1rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ededed;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.calculadora-de-impuesto-a-la-renta-JdL .component-2-d9p .component-2-d9p-bg {
  width: 192rem;
  height: 22.3rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:d292b9472a26d33080ae1a0d78f7f3708b119c21');
}
.calculadora-de-impuesto-a-la-renta-JdL .navegacin-calculadora-GMC {
  box-sizing: border-box;
  padding: 0.5rem 3.733rem 0.4rem 2rem;
  width: 100%;
  height: 3.4rem;
  display: flex;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.400000006);
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .navegacin-calculadora-GMC .portal-xzi {
  margin-right: 1.1333rem;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .navegacin-calculadora-GMC .item--5pS {
  margin-right: 0.2333rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .navegacin-calculadora-GMC .servicios-cZU {
  margin-right: 2.5667rem;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .navegacin-calculadora-GMC .item--LVU {
  margin-right: 0.9333rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .navegacin-calculadora-GMC .calculadora-ley-de-economa-familiar-ryc {
  margin-right: 96.3667rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .navegacin-calculadora-GMC .buscador-AUW {
  box-sizing: border-box;
  padding: 0.474rem 1.317rem 0rem 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #ededed;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .navegacin-calculadora-GMC .buscador-AUW .buscar-Jai {
  margin: 0rem 40.89rem 0.474rem 0rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #005ba3;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .navegacin-calculadora-GMC .buscador-AUW .search-Dxa {
  width: 2.0266rem;
  height: 2.0266rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp {
  box-sizing: border-box;
  padding-left: 0.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .image-2-s1Y {
  margin: 0rem 0rem 3.3rem 2.6rem;
  width: 47.7rem;
  height: 6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a {
  margin: 0rem 3.5rem 6.2rem 2.6rem;
  width: calc(100% - 6.1rem);
  height: 112.2rem;
  position: relative;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(217, 217, 217, 0.400000006);
  border-radius: 1rem;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA {
  width: 184.3068rem;
  height: 57.132rem;
  position: absolute;
  left: 0.6643rem;
  top: 43.1379rem;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra {
  box-sizing: border-box;
  padding-bottom: 0.7763rem;
  width: 183.4743rem;
  height: 42.7699rem;
  position: absolute;
  left: 0.8325rem;
  top: 14.3621rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .auto-group-erfp-ea2 {
  box-sizing: border-box;
  padding: 0rem 0.035rem 2.324rem 0.035rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .auto-group-erfp-ea2 .ingrese-el-valor-anual-NW2 {
  margin: 0rem 0rem 4.3rem 147.834rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .auto-group-erfp-ea2 .auto-group-uo1q-gmc {
  margin: 0rem 0rem 4.7rem 0.917rem;
  height: 5.5996rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .auto-group-erfp-ea2 .auto-group-uo1q-gmc .auto-group-kqyg-cvA {
  box-sizing: border-box;
  padding: 1.8rem 38.424rem 1.7rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .auto-group-erfp-ea2 .auto-group-uo1q-gmc .auto-group-kqyg-cvA .aportacin-anual-al-iess--wBk {
  margin-right: 23.9918rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .auto-group-erfp-ea2 .auto-group-uo1q-gmc .auto-group-kqyg-cvA .empleado-pblico-1145-empleado-privado-945-3ka {
  margin-top: 0.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .auto-group-erfp-ea2 .auto-group-uo1q-gmc .auto-group-njd4-N2A {
  margin-right: 2.9957rem;
  box-sizing: border-box;
  padding: 1.8rem 3.538rem 2.5rem 3.538rem;
  width: 22.5855rem;
  height: 100%;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.15;
  color: rgba(0, 0, 0, 0.5);
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .auto-group-erfp-ea2 .auto-group-uo1q-gmc .usd-chC {
  margin-top: 0.3004rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .auto-group-erfp-ea2 .auto-group-gxoq-KrW {
  margin: 0rem 0rem 3.7rem 0.917rem;
  height: 5.5996rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .auto-group-erfp-ea2 .auto-group-gxoq-KrW .auto-group-hgjj-SRL {
  box-sizing: border-box;
  padding-right: 3.9237rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .auto-group-erfp-ea2 .auto-group-gxoq-KrW .auto-group-hgjj-SRL .otros-ingresos-por--PrN {
  margin-right: 29.0918rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .auto-group-erfp-ea2 .auto-group-gxoq-KrW .auto-group-hgjj-SRL .actividad-econmica-capital-y-o-trabajo-autnomoingresos-por-arriendos-rendimientos-financieros-libre-ejercicio-profesional-otros-6Vt {
  margin-top: 0.8rem;
  max-width: 65.2rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .auto-group-erfp-ea2 .auto-group-gxoq-KrW .rectangle-7-Lv2 {
  margin-right: 2.9711rem;
  width: 22.5855rem;
  height: 5.5996rem;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .auto-group-erfp-ea2 .auto-group-gxoq-KrW .usd-56v {
  margin-bottom: 0.7342rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .auto-group-erfp-ea2 .auto-group-7apn-DU2 {
  margin: 0rem 0rem 3.171rem 1.87rem;
  height: 5.5996rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .auto-group-erfp-ea2 .auto-group-7apn-DU2 .auto-group-4hew-Z26 {
  box-sizing: border-box;
  padding: 1.2rem 4.824rem 1.4rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .auto-group-erfp-ea2 .auto-group-7apn-DU2 .auto-group-4hew-Z26 .otros-ingresos-por--sYa {
  margin: 0rem 28.139rem 0.7rem 0rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .auto-group-erfp-ea2 .auto-group-7apn-DU2 .auto-group-4hew-Z26 .actividad-econmica-capital-y-o-trabajo-autnomocostos-y-gastos-por-arriendos-rendimientos-financieros-libre-ejercicio-profesional-otros-oBL {
  max-width: 64.3rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .auto-group-erfp-ea2 .auto-group-7apn-DU2 .rectangle-9-35g {
  margin-right: 2.9711rem;
  width: 22.5855rem;
  height: 5.5996rem;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .auto-group-erfp-ea2 .auto-group-7apn-DU2 .usd-abQ {
  margin-bottom: 0.7015rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .auto-group-erfp-ea2 .auto-group-fr4i-Kot {
  height: 5.5996rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .auto-group-erfp-ea2 .auto-group-fr4i-Kot .total-ingresos-netos-anuales-FxS {
  margin: 0rem 26.03rem 0.3rem 0rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .auto-group-erfp-ea2 .auto-group-fr4i-Kot .auto-group-ax4e-BLJ {
  margin-right: 2.4161rem;
  width: 22.5855rem;
  height: 100%;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.15;
  color: rgba(0, 0, 0, 0.5);
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .auto-group-erfp-ea2 .auto-group-fr4i-Kot .usd-gH4 {
  margin-bottom: 0.6699rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .aportaciones-8ra .line-3-262 {
  width: 100%;
  height: 0.1rem;
  background-color: #70c0ff;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .empleado-privado-k22 {
  width: 183.4743rem;
  height: 16.2767rem;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: solid 0.1rem #70c0ff;
  box-sizing: border-box;
  border-radius: 1rem;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .empleado-privado-k22 .auto-group-l2pg-fen {
  box-sizing: border-box;
  padding: 0rem 1.785rem 2.489rem 1.785rem;
  width: 100%;
  height: 16.1767rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .empleado-privado-k22 .auto-group-l2pg-fen .auto-group-1ne2-Pan {
  margin: 0rem 35.368rem 0.426rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .empleado-privado-k22 .auto-group-l2pg-fen .auto-group-1ne2-Pan .empleado-privado--jPk {
  margin: 5.562rem 30.136rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .empleado-privado-k22 .auto-group-l2pg-fen .auto-group-1ne2-Pan .ingresos-aportables-al-iess-sueldo-salario-horas-extras-bonificaciones-y-comisiones-f2W {
  margin: 0rem 19.324rem 3.038rem 0rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .empleado-privado-k22 .auto-group-l2pg-fen .auto-group-1ne2-Pan .rectangle-7-YMC {
  margin: 0rem 2.391rem 2.062rem 0rem;
  width: 22.5855rem;
  height: 5.5996rem;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .empleado-privado-k22 .auto-group-l2pg-fen .auto-group-1ne2-Pan .usd-ShU {
  margin-bottom: 1.4142rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .empleado-privado-k22 .auto-group-l2pg-fen .auto-group-xu3k-kiA {
  margin: 0rem 35.368rem 0rem 46.536rem;
  width: calc(100% - 81.9036rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .empleado-privado-k22 .auto-group-l2pg-fen .auto-group-xu3k-kiA .ingresos-no-aportables-al-iess-participacin-de-utlidades-VQr {
  margin: 0.248rem 35.624rem 0rem 0rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .empleado-privado-k22 .auto-group-l2pg-fen .auto-group-xu3k-kiA .rectangle-7-mtA {
  margin-right: 2.3914rem;
  width: 22.5855rem;
  height: 5.5996rem;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-zpva-reA .empleado-privado-k22 .auto-group-l2pg-fen .auto-group-xu3k-kiA .usd-6Qe {
  margin-top: 0.2335rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-c76e-CyU {
  width: 183.4743rem;
  height: 7.3588rem;
  position: absolute;
  left: 0.6643rem;
  top: 23.4355rem;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-c76e-CyU .boton-seleccion-kEJ {
  width: 2.8575rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 133.0929rem;
  top: 0.4645rem;
  object-fit: contain;
  vertical-align: top;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-c76e-CyU .periodicidad-3jC {
  width: 183.4743rem;
  height: 7.3588rem;
  position: absolute;
  left: 0;
  top: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-c76e-CyU .periodicidad-3jC .auto-group-koen-zeS {
  margin: 0rem 0rem 4.594rem 1.461rem;
  display: flex;
  align-items: flex-end;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-c76e-CyU .periodicidad-3jC .auto-group-koen-zeS .indique-la-periodicidad-de-ingreso--jc2 {
  margin: 0rem 74.245rem 0.565rem 0rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-c76e-CyU .periodicidad-3jC .auto-group-koen-zeS .boton-seleccion-eiz {
  margin: 0rem 0.408rem 0.1rem 0rem;
  width: 2.8575rem;
  height: 2.1rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-c76e-CyU .periodicidad-3jC .auto-group-koen-zeS .anual-ymG {
  margin: 0rem 22.003rem 0.1rem 0rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-c76e-CyU .periodicidad-3jC .auto-group-koen-zeS .mensual-hxA {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-c76e-CyU .periodicidad-3jC .auto-group-zxrg-dav {
  width: 100%;
  height: 0.1rem;
  border-top: solid 0.1rem #70c0ff;
  box-sizing: border-box;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .calculadora-de-impuesto-a-la-renta-NHc {
  width: 67.6rem;
  height: 4.6rem;
  position: absolute;
  left: 48.4925rem;
  top: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .aqu-podrs-calcular-tu-reduccin-en-el-impuesto-a-la-renta-de-personas-naturales-de-la-nueva-ley-orgnica-para-el-fortalecimiento-de-la-economa-familiar-gJJ {
  width: 91.5rem;
  height: 1.5rem;
  position: absolute;
  left: 45.9068rem;
  top: 7.7rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-bn94-viS {
  width: 185.4672rem;
  height: 6.0144rem;
  position: absolute;
  left: 0;
  top: 13.8954rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.15;
  color: #dedede;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000a3;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .empleado-publico-Prv {
  box-sizing: border-box;
  padding: 0 1.785rem;
  width: 183.4743rem;
  height: 8.8105rem;
  position: absolute;
  left: 0.6643rem;
  top: 32.3534rem;
  border-bottom: solid 0.1rem #70c0ff;
  border-radius: 1rem;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .empleado-publico-Prv .auto-group-yhtr-hMp {
  width: 144.5368rem;
  height: 5.5996rem;
  display: flex;
  align-items: center;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .empleado-publico-Prv .auto-group-yhtr-hMp .auto-group-krka-e2A {
  box-sizing: border-box;
  padding: 1.547rem 31.824rem 0.953rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .empleado-publico-Prv .auto-group-yhtr-hMp .auto-group-krka-e2A .empleado-pblico--Xbk {
  margin: 1rem 30.236rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .empleado-publico-Prv .auto-group-yhtr-hMp .auto-group-krka-e2A .ingresos-aportables-al-iess-como-sueldo-salario-y-horas-extras-FXk {
  margin-bottom: 1.6rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .empleado-publico-Prv .auto-group-yhtr-hMp .rectangle-7-Auc {
  margin-right: 2.3914rem;
  width: 22.5855rem;
  height: 5.5996rem;
  background-color: #dedede;
  border-radius: 1rem;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .empleado-publico-Prv .auto-group-yhtr-hMp .usd-7Zx {
  margin-top: 0.6482rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-gbkt-2gv {
  width: 63.1366rem;
  height: 7rem;
  position: absolute;
  left: 62.5924rem;
  top: 103.2rem;
  display: flex;
  align-items: center;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-gbkt-2gv .boton-eliminar-m8i {
  margin-right: 19.5941rem;
  width: 21.7713rem;
  height: 100%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000a3;
  border-radius: 2.1rem;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .contenedor-1-y4a .auto-group-gbkt-2gv .boton-siguiente-dRp {
  width: 21.7713rem;
  height: 100%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000a3;
  border-radius: 2.1rem;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .pie-pagina-2Tx {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .pie-pagina-2Tx .auto-group-v9pa-z9t {
  margin-bottom: 1.2rem;
  width: 100%;
  height: 6.8rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .pie-pagina-2Tx .auto-group-v9pa-z9t .auto-group-7u6a-vJS {
  margin: 1.6rem 3.18rem 0rem 0rem;
  box-sizing: border-box;
  padding: 1rem 13.91rem 0rem 13.91rem;
  width: 79.6211rem;
  border-top: solid 0.1rem #3f3f3f;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .pie-pagina-2Tx .auto-group-v9pa-z9t .auto-group-7u6a-vJS .image-1-2sG {
  width: 21.197rem;
  height: 4.2rem;
  object-fit: cover;
  vertical-align: top;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .pie-pagina-2Tx .auto-group-v9pa-z9t .social-icons-xW2 {
  margin-right: 5.1668rem;
  width: 4.2394rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .pie-pagina-2Tx .auto-group-v9pa-z9t .social-icons-H2W {
  margin-right: 5.2992rem;
  width: 4.2394rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .pie-pagina-2Tx .auto-group-v9pa-z9t .social-icons-2Vt {
  margin-right: 3.1796rem;
  width: 4.2394rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .pie-pagina-2Tx .auto-group-v9pa-z9t .auto-group-f1lz-yg2 {
  margin: 1.55rem 0rem 0.6rem 0rem;
  height: calc(100% - 2.15rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .pie-pagina-2Tx .auto-group-v9pa-z9t .auto-group-f1lz-yg2 .line-6-7GS {
  margin-bottom: 0.85rem;
  width: 82.5357rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .pie-pagina-2Tx .auto-group-v9pa-z9t .auto-group-f1lz-yg2 .plataforma-gubernamental-financiera-av-amazonas-entre-unin-nacional-de-periodistas-y-jos-villalengua-quito-ecuador-telfono-02-393-6300-pge {
  margin-right: 8.6113rem;
  max-width: 42.4rem;
  text-align: right;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .pie-pagina-2Tx .auto-group-a6ns-UWJ {
  margin: 0rem 0.265rem 0rem 0.662rem;
  width: calc(100% - 0.9274rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .pie-pagina-2Tx .auto-group-a6ns-UWJ .rectangle-1-c6i {
  margin-right: 0rem;
  width: 95.3863rem;
  height: 1rem;
  background-color: #ffff00;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .pie-pagina-2Tx .auto-group-a6ns-UWJ .rectangle-2-wPt {
  width: 57.2318rem;
  height: 1rem;
  background-color: #0000ff;
  flex-shrink: 0;
}
.calculadora-de-impuesto-a-la-renta-JdL .auto-group-f7d8-KVp .pie-pagina-2Tx .auto-group-a6ns-UWJ .rectangle-3-6Gn {
  width: 38.1545rem;
  height: 1rem;
  background-color: #ff0000;
  flex-shrink: 0;
}
