
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.landing-page-FiN {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.landing-page-FiN .frame-1-fXC {
  width: 192rem;
  height: 25.3rem;
  position: absolute;
  left: 0;
  top: 22.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #ededed;
  box-sizing: border-box;
  box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
}
.landing-page-FiN .frame-1-fXC .men-navegacin-Usx {
  box-sizing: border-box;
  padding-right: 49.6rem;
  width: 100%;
  height: 6.6rem;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  background-color: #ededed;
  flex-shrink: 0;
}
.landing-page-FiN .frame-1-fXC .men-navegacin-Usx .navbar-item-Akn {
  width: 20rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.15;
  color: #005ba3;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #ededed;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.landing-page-FiN .frame-1-fXC .men-navegacin-Usx .navbar-item-Wy4 {
  box-sizing: border-box;
  padding: 1.8rem 4.75rem;
  width: 20rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #ededed;
  flex-shrink: 0;
}
.landing-page-FiN .frame-1-fXC .men-navegacin-Usx .navbar-item-Wy4 .informacin-sobre-impuestos-DsU {
  max-width: 10.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #3f3f3f;
  font-family: Arimo, 'Source Sans Pro';
}
.landing-page-FiN .frame-1-fXC .men-navegacin-Usx .navbar-item-hne {
  width: 20rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #3f3f3f;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #ededed;
  box-sizing: border-box;
  flex-shrink: 0;
}
.landing-page-FiN .frame-1-fXC .men-navegacin-Usx .navbar-item-2iS {
  width: 20rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #3f3f3f;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #ededed;
  box-sizing: border-box;
  flex-shrink: 0;
}
.landing-page-FiN .frame-1-fXC .men-navegacin-Usx .navbar-item-j74 {
  width: 20rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #3f3f3f;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #ededed;
  box-sizing: border-box;
  flex-shrink: 0;
}
.landing-page-FiN .frame-1-fXC .men-navegacin-Usx .buscador-S1U {
  margin: 1.45rem 0;
  box-sizing: border-box;
  padding: 0.6rem 1rem;
  height: calc(100% - 2.9rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #ededed;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.landing-page-FiN .frame-1-fXC .men-navegacin-Usx .buscador-S1U .buscar-MPL {
  margin-right: 28.8rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #005ba3;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-FiN .frame-1-fXC .men-navegacin-Usx .buscador-S1U .search-UD4 {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-FiN .frame-1-fXC .contenido-gpv {
  box-sizing: border-box;
  padding: 2.5rem 52rem;
  width: 100%;
  height: 18.7rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #ededed;
  flex-shrink: 0;
}
.landing-page-FiN .frame-1-fXC .contenido-gpv .tarjeta-contenido-oPk {
  margin-right: 5rem;
  box-sizing: border-box;
  padding: 3.1rem 2.5rem 2.65rem 2.5rem;
  height: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  flex-shrink: 0;
}
.landing-page-FiN .frame-1-fXC .contenido-gpv .tarjeta-contenido-oPk .laptop-outline-Wox {
  margin: 0rem 0rem 2.55rem 0.088rem;
  width: 4.6875rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-FiN .frame-1-fXC .contenido-gpv .tarjeta-contenido-oPk .sri-en-lnea-dNn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.15;
  color: #0000a3;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-FiN .frame-1-fXC .contenido-gpv .tarjeta-contenido-KmQ {
  margin-right: 5rem;
  box-sizing: border-box;
  padding: 2.7rem 2.85rem 2.113rem 2.85rem;
  height: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  flex-shrink: 0;
}
.landing-page-FiN .frame-1-fXC .contenido-gpv .tarjeta-contenido-KmQ .icon-list-ENa {
  margin-bottom: 1.0125rem;
  width: 5rem;
  height: 4.375rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-FiN .frame-1-fXC .contenido-gpv .tarjeta-contenido-KmQ .sri-en-lnea-xZU {
  max-width: 7.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.15;
  color: #0000a3;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-FiN .frame-1-fXC .contenido-gpv .tarjeta-contenido-sAe {
  margin-right: 3.5rem;
  box-sizing: border-box;
  padding: 3.169rem 2.85rem 2.65rem 2.85rem;
  height: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  flex-shrink: 0;
}
.landing-page-FiN .frame-1-fXC .contenido-gpv .tarjeta-contenido-sAe .print-PPt {
  margin-bottom: 2.0188rem;
  width: 4.0625rem;
  height: 4.0625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-FiN .frame-1-fXC .contenido-gpv .tarjeta-contenido-sAe .sri-en-lnea-iwx {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.15;
  color: #0000a3;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-FiN .frame-1-fXC .contenido-gpv .tarjeta-contenido-Dti {
  margin-right: 3.5rem;
  box-sizing: border-box;
  padding: 2.7rem 0rem 2.65rem 0rem;
  height: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  flex-shrink: 0;
}
.landing-page-FiN .frame-1-fXC .contenido-gpv .tarjeta-contenido-Dti .icon-calculator-LiS {
  margin: 0rem 0rem 1.55rem 0rem;
  width: 4.3742rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-FiN .frame-1-fXC .contenido-gpv .tarjeta-contenido-Dti .sri-en-lnea-FqQ {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.15;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-FiN .frame-1-fXC .contenido-gpv .tarjeta-contenido-AhU {
  box-sizing: border-box;
  padding: 2.7rem 4.05rem 1.8rem 4.05rem;
  height: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  flex-shrink: 0;
}
.landing-page-FiN .frame-1-fXC .contenido-gpv .tarjeta-contenido-AhU .icon-person-gA2 {
  margin-bottom: 0.7rem;
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-FiN .frame-1-fXC .contenido-gpv .tarjeta-contenido-AhU .sri-en-lnea-bnn {
  max-width: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.15;
  color: #0000a3;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-FiN .auto-group-xnxy-Ear {
  width: 150.8rem;
  height: 40.2rem;
  position: absolute;
  left: 2rem;
  top: 55.4rem;
  display: flex;
  align-items: flex-start;
}
.landing-page-FiN .auto-group-xnxy-Ear .bubble-9Sv {
  margin: 16.1rem 45.1rem 0rem 0rem;
  width: 5.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-FiN .auto-group-xnxy-Ear .bubble-9Sv .auto-group-fkr6-gBx {
  box-sizing: border-box;
  padding-bottom: 1.0454rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-FiN .auto-group-xnxy-Ear .bubble-9Sv .auto-group-fkr6-gBx .ellipse-7-bZp {
  margin-bottom: 1.8rem;
  width: 3.8rem;
  height: 3.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-7-bg.png');
  border-radius: 1.9rem;
  flex-shrink: 0;
}
.landing-page-FiN .auto-group-xnxy-Ear .bubble-9Sv .auto-group-fkr6-gBx .ellipse-6-u4i {
  margin-bottom: 1.8rem;
  width: 3.8rem;
  height: 3.8rem;
  background-color: rgba(169, 163, 163, 0.200000003);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-6-bg.png');
  border-radius: 1.9rem;
  flex-shrink: 0;
}
.landing-page-FiN .auto-group-xnxy-Ear .bubble-9Sv .auto-group-fkr6-gBx .ellipse-4-fCJ {
  margin-bottom: 1.6852rem;
  width: 3.8rem;
  height: 3.8rem;
  background-color: rgba(169, 163, 163, 0.200000003);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-4-bg.png');
  border-radius: 1.9rem;
  flex-shrink: 0;
}
.landing-page-FiN .auto-group-xnxy-Ear .bubble-9Sv .auto-group-fkr6-gBx .essential-icons-chevron-right-mWE {
  margin-left: 1.4275rem;
  width: 0.8937rem;
  height: 0.6694rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-FiN .auto-group-xnxy-Ear .bubble-9Sv .auto-group-brev-6Hc {
  width: 100%;
  height: 5.7rem;
  position: relative;
  flex-shrink: 0;
}
.landing-page-FiN .auto-group-xnxy-Ear .bubble-9Sv .auto-group-brev-6Hc .ellipse-3-SsG {
  width: 3.8rem;
  height: 3.8rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(169, 163, 163, 0.200000003);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-3-bg.png');
  border-radius: 1.9rem;
}
.landing-page-FiN .auto-group-xnxy-Ear .bubble-9Sv .auto-group-brev-6Hc .ellipse-5-kd4 {
  width: 5.7rem;
  height: 5.7rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-FiN .auto-group-xnxy-Ear .slide-1-gmc {
  width: 100rem;
  height: 21.6rem;
  position: relative;
  overflow: hidden;
  background-color: #ededed;
  flex-shrink: 0;
}
.landing-page-FiN .auto-group-xnxy-Ear .slide-1-gmc .image-4-q8i {
  opacity: 0.6;
  width: 43rem;
  height: 33.9rem;
  position: absolute;
  left: 92.8rem;
  top: -6.9rem;
  object-fit: cover;
  vertical-align: top;
}
.landing-page-FiN .auto-group-xnxy-Ear .slide-1-gmc .image-5-YJ2 {
  opacity: 0.6;
  width: 41.2rem;
  height: 33.9rem;
  position: absolute;
  left: -32.2rem;
  top: -6.9rem;
  object-fit: cover;
  vertical-align: top;
}
.landing-page-FiN .auto-group-xnxy-Ear .slide-1-gmc .auto-group-y28e-4nA {
  width: 80.9rem;
  height: 47.3rem;
  position: absolute;
  left: 10.4rem;
  top: -8.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.landing-page-FiN .auto-group-xnxy-Ear .slide-1-gmc .auto-group-y28e-4nA .image-3-Bbt {
  margin-bottom: 13.3rem;
  width: 80.9rem;
  height: 29.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-FiN .auto-group-xnxy-Ear .slide-1-gmc .auto-group-y28e-4nA .colonia-del-sacramento-iri {
  margin: 0rem 24.8rem 0rem 33rem;
  width: calc(100% - 57.8rem);
  height: 4.1rem;
  position: relative;
  background-color: rgba(255, 255, 255, 0.6999999881);
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.landing-page-FiN .auto-group-xnxy-Ear .slide-1-gmc .auto-group-y28e-4nA .colonia-del-sacramento-iri .colonia-del-sacramento-2sQ {
  width: 19.1rem;
  height: 2.2rem;
  position: absolute;
  left: 2rem;
  top: 1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-FiN .auto-group-xnxy-Ear .slide-1-gmc .auto-group-y28e-4nA .colonia-del-sacramento-iri .colonia-del-sacramento-Pzn {
  width: 12.6rem;
  height: 4.1rem;
  position: absolute;
  left: 5.3rem;
  top: 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0.4rem;
}
.landing-page-FiN .auto-group-xnxy-Ear .slide-1-gmc .auto-group-y28e-4nA .colonia-del-sacramento-iri .colonia-del-sacramento-SiA {
  width: 15.5rem;
  height: 4.1rem;
  position: absolute;
  left: 3.8rem;
  top: 0;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0.4rem;
}
.landing-page-FiN .auto-group-xnxy-Ear .slide-1-gmc .auto-group-y28e-4nA .colonia-del-sacramento-iri .colonia-del-sacramento-SiA .colonia-del-sacramento-yi6 {
  width: 11.5rem;
  height: 2.2rem;
  position: absolute;
  left: 2rem;
  top: 1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-FiN .auto-group-xnxy-Ear .slide-1-gmc .auto-group-y28e-4nA .colonia-del-sacramento-iri .colonia-del-sacramento-SiA .colonia-del-sacramento-s2n {
  width: 14.1rem;
  height: 4.1rem;
  position: absolute;
  left: 0.7rem;
  top: 0;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0.4rem;
}
.landing-page-FiN .auto-group-xnxy-Ear .slide-1-gmc .auto-group-y28e-4nA .colonia-del-sacramento-iri .colonia-del-sacramento-SiA .colonia-del-sacramento-s2n .colonia-del-sacramento-zt6 {
  width: 10.1rem;
  height: 2.2rem;
  position: absolute;
  left: 2rem;
  top: 1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-FiN .auto-group-xnxy-Ear .slide-1-gmc .auto-group-y28e-4nA .colonia-del-sacramento-iri .colonia-del-sacramento-SiA .colonia-del-sacramento-s2n .colonia-del-sacramento-UoG {
  width: 11.8rem;
  height: 4.1rem;
  position: absolute;
  left: 1.2rem;
  top: 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0.4rem;
}
.landing-page-FiN .auto-group-xnxy-Ear .slide-1-gmc .essential-icons-chevron-right-hAE {
  width: 4rem;
  height: 4.6364rem;
  position: absolute;
  left: 92.7rem;
  top: 7.5rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-FiN .auto-group-xnxy-Ear .slide-1-gmc .essential-icons-chevron-left-Br6 {
  width: 4rem;
  height: 4.6087rem;
  position: absolute;
  left: 5rem;
  top: 7.5rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-FiN .videos-institucionales-UaJ {
  width: 19rem;
  height: 2.1rem;
  position: absolute;
  left: 6.8rem;
  top: 49.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #3f3f3f;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-FiN .pie-pagina-NQn {
  width: 192.5rem;
  height: 9rem;
  position: absolute;
  left: 0;
  top: 93.4rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.landing-page-FiN .pie-pagina-NQn .auto-group-jzls-5a6 {
  margin: 0rem 0rem 1.2rem 0rem;
  width: calc(100% - 0rem);
  height: 6.8rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.landing-page-FiN .pie-pagina-NQn .auto-group-jzls-5a6 .auto-group-ptwc-amk {
  margin: 1.6rem 3.193rem 0rem 0rem;
  box-sizing: border-box;
  padding: 1rem 13.969rem 0rem 13.969rem;
  width: 79.9534rem;
  border-top: solid 0.1rem #3f3f3f;
  flex-shrink: 0;
}
.landing-page-FiN .pie-pagina-NQn .auto-group-jzls-5a6 .auto-group-ptwc-amk .image-1-UcE {
  width: 21.2854rem;
  height: 4.2rem;
  object-fit: cover;
  vertical-align: top;
}
.landing-page-FiN .pie-pagina-NQn .auto-group-jzls-5a6 .social-icons-bgr {
  margin-right: 5.1883rem;
  width: 4.2571rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-FiN .pie-pagina-NQn .auto-group-jzls-5a6 .social-icons-8wg {
  margin-right: 5.3214rem;
  width: 4.2571rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-FiN .pie-pagina-NQn .auto-group-jzls-5a6 .social-icons-seN {
  margin-right: 3.1928rem;
  width: 4.2571rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-FiN .pie-pagina-NQn .auto-group-jzls-5a6 .auto-group-nbci-cM4 {
  margin: 1.55rem 0rem 0.6rem 0rem;
  height: calc(100% - 2.15rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-FiN .pie-pagina-NQn .auto-group-jzls-5a6 .auto-group-nbci-cM4 .line-6-Xyp {
  margin-bottom: 0.85rem;
  width: 82.8801rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-FiN .pie-pagina-NQn .auto-group-jzls-5a6 .auto-group-nbci-cM4 .plataforma-gubernamental-financiera-av-amazonas-entre-unin-nacional-de-periodistas-y-jos-villalengua-quito-ecuador-telfono-02-393-6300-U8N {
  margin-right: 8.6472rem;
  max-width: 42.4rem;
  text-align: right;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-FiN .pie-pagina-NQn .auto-group-rel6-gkE {
  width: 191.8348rem;
  height: 1rem;
  position: relative;
  flex-shrink: 0;
}
.landing-page-FiN .pie-pagina-NQn .auto-group-rel6-gkE .rectangle-2-2JJ {
  width: 57.4706rem;
  height: 1rem;
  position: absolute;
  left: 95.7844rem;
  top: 0;
  background-color: #0000ff;
}
.landing-page-FiN .pie-pagina-NQn .auto-group-rel6-gkE .rectangle-3-xxe {
  width: 38.6rem;
  height: 1rem;
  position: absolute;
  left: 153.2348rem;
  top: 0;
  background-color: #ff0000;
}
.landing-page-FiN .pie-pagina-NQn .auto-group-rel6-gkE .rectangle-1-JWi {
  width: 95.7844rem;
  height: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffff00;
}
.landing-page-FiN .component-1-FRx {
  width: 192rem;
  height: 22.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100% 215.247%;
  background-position: 0 -0.542rem;
  background-image: url('../assets/palaciocarondelet-1-bg-4vS.png');
}
.landing-page-FiN .component-1-FRx .rectangle-13-BqQ {
  opacity: 0.9;
  width: 192rem;
  height: 9.8rem;
  position: absolute;
  left: 0;
  top: 5.6rem;
  background-color: rgba(63, 63, 63, 0.8999999762);
}
.landing-page-FiN .component-1-FRx .servicio-de-rentas-internas-uWW {
  width: 40.4rem;
  height: 2.9rem;
  position: absolute;
  left: 67.8667rem;
  top: 9.1rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ededed;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-FiN .component-1-FRx .component-1-FRx-bg {
  width: 192rem;
  height: 22.3rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:d292b9472a26d33080ae1a0d78f7f3708b119c21');
}
