
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.trmites-y-servicios-rTg {
  width: 100%;
  height: 162.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.trmites-y-servicios-rTg .auto-group-txlr-yYJ {
  box-sizing: border-box;
  padding: 1.5rem 39.4rem;
  width: 144rem;
  height: 8.4rem;
  position: absolute;
  left: 0;
  top: 36.4rem;
  background-color: #ededed;
}
.trmites-y-servicios-rTg .auto-group-txlr-yYJ .buscador-HYz {
  box-sizing: border-box;
  padding: 1.45rem 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #ededed;
  background-color: #ffffff;
  border-radius: 1rem;
}
.trmites-y-servicios-rTg .auto-group-txlr-yYJ .buscador-HYz .buscar-Rv6 {
  margin-right: 56.6rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #005ba3;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-txlr-yYJ .buscador-HYz .search-9bC {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .navegacin-trmites-y-servicios-3wU {
  box-sizing: border-box;
  padding: 1rem 123.9rem 0.9rem 1.8rem;
  width: 144rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 22.3rem;
  display: flex;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.400000006);
}
.trmites-y-servicios-rTg .navegacin-trmites-y-servicios-3wU .portal-7RY {
  margin-right: 1.3rem;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .navegacin-trmites-y-servicios-3wU .item--brW {
  margin-right: 0.6rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .navegacin-trmites-y-servicios-3wU .trmites-y-servicios-Wia {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .trmites-y-servicios-doC {
  width: 38.7rem;
  height: 4.6rem;
  position: absolute;
  left: 52.6rem;
  top: 28rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.trmites-y-servicios-rTg .revise-aqu-informacin-de-los-trmites-y-servicios-que-el-servicio-de-rentas-internas-pone-a-su-disposicin-LxW {
  width: 62.3rem;
  height: 1.5rem;
  position: absolute;
  left: 40.8rem;
  top: 32.6rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv {
  box-sizing: border-box;
  padding: 5rem 3rem 2.6rem 3rem;
  width: 144rem;
  height: 108.6rem;
  position: absolute;
  left: 52.3%; /* Ajuste para centrar horizontalmente */
  top: 60%; /* Ajuste para centrar verticalmente */
  transform: translate(-50%, -50%); /* Centrar en el centro del contenedor */
  row-gap: 4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-xcnj-g9C {
  width: 100%;
  height: 31rem;
  display: flex;
  column-gap: 4rem;
  align-items: center;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-xcnj-g9C .claves-ytz {
  box-sizing: border-box;
  padding: 2.55rem 2.1rem 1.572rem 2rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-xcnj-g9C .claves-ytz .claves-ha6 {
  margin-bottom: 2.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-xcnj-g9C .claves-ytz .claves-1-pei {
  margin-bottom: 1.5rem;
  width: 25.9rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-xcnj-g9C .claves-ytz .informacin-sobre-procesos-de-claves-y-usuarios-adicionales-ATg {
  margin: 0rem 2.9rem 1.5rem 0rem;
  max-width: 23rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-xcnj-g9C .claves-ytz .boton-4Z4 {
  margin: 0 5.7rem;
  width: calc(100% - 11.4rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7070ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-xcnj-g9C .ruc-8op {
  box-sizing: border-box;
  padding: 2.55rem 2.1rem 1.572rem 1.6rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-xcnj-g9C .ruc-8op .ruc-cDC {
  margin: 0rem 0rem 2.55rem 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-xcnj-g9C .ruc-8op .catastro-1-UFQ {
  margin-bottom: 1.5rem;
  width: 26.3rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-xcnj-g9C .ruc-8op .informacin-de-registro-nico-de-contribuyentes-Qer {
  margin: 0rem 6.2rem 1.5rem 0rem;
  max-width: 19.3rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-xcnj-g9C .ruc-8op .boton-gcN {
  margin: 0rem 5.7rem 0rem 6.1rem;
  width: calc(100% - 11.8rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7070ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-xcnj-g9C .facturacin-kcE {
  box-sizing: border-box;
  padding: 2.55rem 2.1rem 1.572rem 2rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-xcnj-g9C .facturacin-kcE .facturacin-sgr {
  margin-bottom: 2.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-xcnj-g9C .facturacin-kcE .facturacion-1-arA {
  margin-bottom: 1.5rem;
  width: 25.9rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-xcnj-g9C .facturacin-kcE .informacin-sobre-procesos-de-facturacin-KYr {
  margin: 0rem 1.3rem 3rem 0rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-xcnj-g9C .facturacin-kcE .boton-ajg {
  margin: 0 5.7rem;
  width: calc(100% - 11.4rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7070ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-xcnj-g9C .entrega-y-recepcion-informacin-fiscal-qvW {
  box-sizing: border-box;
  padding: 1.5rem 2.1rem 1.572rem 2rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-xcnj-g9C .entrega-y-recepcion-informacin-fiscal-qvW .entrega-y-recepcin-de-informacin-fiscal-M8A {
  max-width: 24.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-xcnj-g9C .entrega-y-recepcion-informacin-fiscal-qvW .entrega-y-recepcion-fiscal-1-TBC {
  width: 25.9rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-xcnj-g9C .entrega-y-recepcion-informacin-fiscal-qvW .informacin-sobre-declaraciones-anexos-y-otros-M1g {
  margin-right: 1.1rem;
  max-width: 24.8rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-xcnj-g9C .entrega-y-recepcion-informacin-fiscal-qvW .boton-fYA {
  margin: 0 5.7rem;
  width: calc(100% - 11.4rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7070ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-cg5u-kJi {
  width: 100%;
  height: 31rem;
  display: flex;
  column-gap: 4rem;
  align-items: center;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-cg5u-kJi .pago-de-impuestos-67g {
  box-sizing: border-box;
  padding: 2.55rem 2.1rem 1.572rem 2rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-cg5u-kJi .pago-de-impuestos-67g .pago-de-impuestos-DCJ {
  margin-bottom: 2.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-cg5u-kJi .pago-de-impuestos-67g .pagos-1-jwL {
  margin-bottom: 1.5rem;
  width: 25.9rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-cg5u-kJi .pago-de-impuestos-67g .informacin-sobre-procesos-de-pago-de-impuestos-V9p {
  margin: 0rem 2.9rem 1.5rem 0rem;
  max-width: 23rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-cg5u-kJi .pago-de-impuestos-67g .boton-mt2 {
  margin: 0 5.7rem;
  width: calc(100% - 11.4rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7070ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-cg5u-kJi .deudas-fCi {
  box-sizing: border-box;
  padding: 2.55rem 2.1rem 1.572rem 1.6rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-cg5u-kJi .deudas-fCi .deudas-P8i {
  margin: 0rem 0rem 2.55rem 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-cg5u-kJi .deudas-fCi .deudas1-1-74i {
  margin-bottom: 1.5rem;
  width: 26.3rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-cg5u-kJi .deudas-fCi .informacin-sobre-procesos-de-pago-de-deudas-wZY {
  margin: 0rem 2.5rem 1.5rem 0rem;
  max-width: 23rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-cg5u-kJi .deudas-fCi .boton-13c {
  margin: 0rem 5.7rem 0rem 6.1rem;
  width: calc(100% - 11.8rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7070ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-cg5u-kJi .devoluciones-y-reintegro-DfU {
  box-sizing: border-box;
  padding: 1.5rem 2.1rem 1.572rem 2rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-cg5u-kJi .devoluciones-y-reintegro-DfU .devoluciones-y-reintegro-6DU {
  max-width: 16.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-cg5u-kJi .devoluciones-y-reintegro-DfU .auto-group-esqx-odg {
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/facturacion-1-bg-Qs8.png');
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-cg5u-kJi .devoluciones-y-reintegro-DfU .auto-group-esqx-odg .deudas-2-Aj8 {
  width: 25.9rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-cg5u-kJi .devoluciones-y-reintegro-DfU .informacin-sobre-procesos-de-devoluciones-y-acreditaciones-VmQ {
  margin-right: 0.1rem;
  max-width: 25.8rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-cg5u-kJi .devoluciones-y-reintegro-DfU .boton-QtN {
  margin: 0 5.7rem;
  width: calc(100% - 11.4rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7070ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-cg5u-kJi .trmites-y-notificaciones-4i2 {
  box-sizing: border-box;
  padding: 1.5rem 2.1rem 1.572rem 2rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-cg5u-kJi .trmites-y-notificaciones-4i2 .trmites-y-notificaciones-Mh8 {
  max-width: 15.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-cg5u-kJi .trmites-y-notificaciones-4i2 .tramites-y-notificaciones-1-Gp6 {
  width: 25.9rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-cg5u-kJi .trmites-y-notificaciones-4i2 .informacin-sobre-procesos-de-trmites-y-notificaciones-cNA {
  margin-right: 2rem;
  max-width: 23.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-cg5u-kJi .trmites-y-notificaciones-4i2 .boton-742 {
  margin: 0 5.7rem;
  width: calc(100% - 11.4rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7070ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-dtwa-aTQ {
  width: 100%;
  height: 31rem;
  display: flex;
  column-gap: 4rem;
  align-items: center;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-dtwa-aTQ .certificados-tributarios-7y8 {
  box-sizing: border-box;
  padding: 1.5rem 2.1rem 1.572rem 2rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-dtwa-aTQ .certificados-tributarios-7y8 .certificados-tributarios-b7c {
  max-width: 13.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-dtwa-aTQ .certificados-tributarios-7y8 .certificados-tributarios-1-ii2 {
  width: 25.9rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-dtwa-aTQ .certificados-tributarios-7y8 .informacin-sobre-procesos-de-certificados-tributarios-f7U {
  margin-right: 1.1rem;
  max-width: 24.8rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-dtwa-aTQ .certificados-tributarios-7y8 .boton-aVL {
  margin: 0 5.7rem;
  width: calc(100% - 11.4rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7070ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-dtwa-aTQ .impuestos-vehiculares-Gd4 {
  box-sizing: border-box;
  padding: 2.55rem 2.1rem 1.572rem 1.6rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-dtwa-aTQ .impuestos-vehiculares-Gd4 .impuestos-vehiculares-Phg {
  margin: 0rem 0rem 2.55rem 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-dtwa-aTQ .impuestos-vehiculares-Gd4 .impuestos-vehiculares-1-KLS {
  margin-bottom: 1.5rem;
  width: 26.3rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-dtwa-aTQ .impuestos-vehiculares-Gd4 .informacin-sobre-procesos-de-impuestos-vehiculares-RPU {
  margin: 0rem 1.3rem 1.5rem 0rem;
  max-width: 24.2rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-dtwa-aTQ .impuestos-vehiculares-Gd4 .boton-JTG {
  margin: 0rem 5.7rem 0rem 6.1rem;
  width: calc(100% - 11.8rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7070ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-dtwa-aTQ .ice-twG {
  box-sizing: border-box;
  padding: 2.55rem 2.1rem 1.572rem 2rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-dtwa-aTQ .ice-twG .ice-RAW {
  margin-bottom: 2.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-dtwa-aTQ .ice-twG .auto-group-pk5g-vd4 {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  padding-top: 0.2rem;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/facturacion-1-bg.png');
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-dtwa-aTQ .ice-twG .auto-group-pk5g-vd4 .ice-1-soC {
  width: 25.9rem;
  height: 13.1rem;
  object-fit: cover;
  vertical-align: top;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-dtwa-aTQ .ice-twG .informacin-sobre-impuestos-a-los-consumos-especiales-aSi {
  margin: 0rem 6rem 1.5rem 0rem;
  max-width: 19.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-dtwa-aTQ .ice-twG .boton-gke {
  margin: 0 5.7rem;
  width: calc(100% - 11.4rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7070ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-dtwa-aTQ .otras-peticiones-yDx {
  box-sizing: border-box;
  padding: 2.55rem 2.1rem 1.572rem 2rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-dtwa-aTQ .otras-peticiones-yDx .otras-peticiones-63g {
  margin-bottom: 2.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-dtwa-aTQ .otras-peticiones-yDx .otras-peticiones-1-RLr {
  margin-bottom: 1.5rem;
  width: 25.9rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-dtwa-aTQ .otras-peticiones-yDx .informacin-sobre-procesos-de-otras-peticiones-xra {
  margin: 0rem 4.8rem 1.5rem 0rem;
  max-width: 21.1rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .auto-group-yjij-CUv .auto-group-dtwa-aTQ .otras-peticiones-yDx .boton-3NE {
  margin: 0 5.7rem;
  width: calc(100% - 11.4rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7070ff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .pie-pagina-4Rk {
  width: 144.7rem;
  height: 9rem;
  position: absolute;
  left: 0;
  top: 153.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.trmites-y-servicios-rTg .pie-pagina-4Rk .auto-group-fdwv-nsY {
  margin-bottom: 1.2rem;
  width: 100%;
  height: 6.8rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .pie-pagina-4Rk .auto-group-fdwv-nsY .auto-group-ckle-tva {
  margin: 1.6rem 2.4rem 0rem 0rem;
  box-sizing: border-box;
  padding: 1rem 10.5rem 0rem 10.5rem;
  width: 60.1rem;
  border-top: solid 0.1rem #3f3f3f;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .pie-pagina-4Rk .auto-group-fdwv-nsY .auto-group-ckle-tva .image-1-1EW {
  width: 16rem;
  height: 4.2rem;
  object-fit: cover;
  vertical-align: top;
}
.trmites-y-servicios-rTg .pie-pagina-4Rk .auto-group-fdwv-nsY .social-icons-Xie {
  margin-right: 3.9rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .pie-pagina-4Rk .auto-group-fdwv-nsY .social-icons-qzE {
  margin-right: 4rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .pie-pagina-4Rk .auto-group-fdwv-nsY .social-icons-bTc {
  margin-right: 2.4rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .pie-pagina-4Rk .auto-group-fdwv-nsY .auto-group-fvz8-wXU {
  margin: 1.55rem 0rem 0.6rem 0rem;
  height: calc(100% - 2.15rem);
  align-items: center;
  display: flex;
  border-top: solid 0.1rem #3f3f3f;
  flex-direction: column;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .pie-pagina-4Rk .auto-group-fdwv-nsY .auto-group-fvz8-wXU .line-6-rPY {
  margin-bottom: 0.85rem;
  width: 62.3rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .pie-pagina-4Rk .auto-group-fdwv-nsY .auto-group-fvz8-wXU .plataforma-gubernamental-financiera-av-amazonas-entre-unin-nacional-de-periodistas-y-jos-villalengua-quito-ecuador-telfono-02-393-6300-Bwc {
  margin-left: 6.9rem;
  max-width: 42.4rem;
  text-align: right;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .pie-pagina-4Rk .auto-group-5p8i-S6r {
  margin: 0rem 0.2rem 0rem 0.5rem;
  width: calc(100% - 0.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .pie-pagina-4Rk .auto-group-5p8i-S6r .rectangle-1-m98 {
  width: 72rem;
  height: 1rem;
  background-color: #ffff00;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .pie-pagina-4Rk .auto-group-5p8i-S6r .rectangle-2-5vW {
  width: 43.2rem;
  height: 1rem;
  background-color: #0000ff;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .pie-pagina-4Rk .auto-group-5p8i-S6r .rectangle-3-3MY {
  width: 28.8rem;
  height: 1rem;
  background-color: #ff0000;
  flex-shrink: 0;
}
.trmites-y-servicios-rTg .component-2-yFC {
  width: 144rem;
  height: 22.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100% 215.247%;
  background-position: 0 -0.542rem;
  background-image: url('../assets/palaciocarondelet-1-bg.png');
}
.trmites-y-servicios-rTg .component-2-yFC .rectangle-13-SPg {
  width: 144rem;
  height: 9.8rem;
  position: absolute;
  left: 0;
  top: 5.6rem;
  background-color: rgba(0, 0, 0, 0.400000006);
}
.trmites-y-servicios-rTg .component-2-yFC .servicio-de-rentas-internas-mwk {
  width: 40.4rem;
  height: 2.9rem;
  position: absolute;
  left: 50.9rem;
  top: 9.1rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ededed;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.trmites-y-servicios-rTg .component-2-yFC .component-2-yFC-bg {
  width: 144rem;
  height: 22.3rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:d292b9472a26d33080ae1a0d78f7f3708b119c21');
}
