
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.trmites-y-servicios-q1x {
  width: 100%;
  height: 162.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.trmites-y-servicios-q1x .auto-group-bgrj-irS {
  box-sizing: border-box;
  padding: 1.5rem 57.5rem 1.5rem 69.3rem;
  width: 192rem;
  height: 8.4rem;
  position: absolute;
  left: 0;
  top: 36.4rem;
  background-color: #ededed;
}
.trmites-y-servicios-q1x .auto-group-bgrj-irS .buscador-DoC {
  box-sizing: border-box;
  padding: 1.45rem 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #ededed;
  background-color: #ffffff;
  border-radius: 1rem;
}
.trmites-y-servicios-q1x .auto-group-bgrj-irS .buscador-DoC .buscar-ACe {
  margin-right: 56.6rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #005ba3;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-bgrj-irS .buscador-DoC .search-f9Q {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .navegacin-trmites-y-servicios-kAr {
  box-sizing: border-box;
  padding: 1rem 169.4rem 0.9rem 2.4rem;
  width: 192rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 22.3rem;
  display: flex;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.400000006);
}
.trmites-y-servicios-q1x .navegacin-trmites-y-servicios-kAr .portal-dVY {
  margin-right: 2.8667rem;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .navegacin-trmites-y-servicios-kAr .item--Ler {
  margin-right: 0.9333rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .navegacin-trmites-y-servicios-kAr .trmites-y-servicios-Fmp {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .trmites-y-servicios-NLe {
  width: 38.7rem;
  height: 4.6rem;
  position: absolute;
  left: 84.2rem;
  top: 26.3rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.trmites-y-servicios-q1x .revise-aqu-informacin-de-los-trmites-y-servicios-que-el-servicio-de-rentas-internas-pone-a-su-disposicin-5F4 {
  width: 62.3rem;
  height: 1.5rem;
  position: absolute;
  left: 72.4rem;
  top: 30.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr {
  box-sizing: border-box;
  padding: 5rem 8.9rem 2.6rem 6rem;
  width: 192rem;
  height: 108.6rem;
  position: absolute;
  left: 0;
  top: 44.8rem;
  row-gap: 4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-apvp-23p {
  width: 100%;
  height: 31rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-apvp-23p .claves-ZJe {
  margin-right: 5.3rem;
  box-sizing: border-box;
  padding: 2.55rem 7.2rem 1.572rem 7.2rem;
  width: 40.3rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-apvp-23p .claves-ZJe .claves-Tev {
  margin-bottom: 2.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-apvp-23p .claves-ZJe .claves-1-nBQ {
  margin-bottom: 1.5rem;
  width: 25.9rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-apvp-23p .claves-ZJe .informacin-sobre-procesos-de-claves-y-usuarios-adicionales-7Dg {
  margin: 0rem 0.5rem 1.5rem 0rem;
  max-width: 23rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-apvp-23p .claves-ZJe .boton-Pwt {
  margin: 0rem 3.122rem 0rem 3.3rem;
  width: calc(100% - 6.4217rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000d6;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-apvp-23p .ruc-S9U {
  margin-right: 5.3rem;
  box-sizing: border-box;
  padding: 2.55rem 6.3rem 1.572rem 5.6rem;
  width: 40.3rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-apvp-23p .ruc-S9U .ruc-YTQ {
  margin: 0rem 0rem 2.55rem 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-apvp-23p .ruc-S9U .catastro-1-3ux {
  margin: 0rem 0rem 1.5rem 0.7rem;
  width: 26.3rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-apvp-23p .ruc-S9U .informacin-de-registro-nico-de-contribuyentes-NhL {
  margin-bottom: 3rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-apvp-23p .ruc-S9U .boton-HpJ {
  margin: 0rem 4.022rem 0rem 4.9rem;
  width: calc(100% - 8.9217rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000d6;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-apvp-23p .facturacin-wtr {
  margin-right: 5.4rem;
  box-sizing: border-box;
  padding: 2.55rem 7.2rem 1.572rem 7.2rem;
  width: 40.3rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-apvp-23p .facturacin-wtr .facturacin-FuY {
  margin-bottom: 2.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-apvp-23p .facturacin-wtr .facturacion-1-NDU {
  margin-bottom: 1.5rem;
  width: 25.9rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-apvp-23p .facturacin-wtr .informacin-sobre-procesos-de-facturacin-HrE {
  margin: 0rem 1.3rem 3rem 0rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-apvp-23p .facturacin-wtr .boton-Bwc {
  margin: 0rem 3.122rem 0rem 3.3rem;
  width: calc(100% - 6.4217rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000d6;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-apvp-23p .entrega-y-recepcion-informacin-fiscal-S6r {
  box-sizing: border-box;
  padding: 1.5rem 7.2rem 1.572rem 7.1rem;
  width: 40.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-apvp-23p .entrega-y-recepcion-informacin-fiscal-S6r .entrega-y-recepcin-de-informacin-fiscal-iaA {
  max-width: 24.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-apvp-23p .entrega-y-recepcion-informacin-fiscal-S6r .entrega-y-recepcion-fiscal-1-RjU {
  width: 25.9rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-apvp-23p .entrega-y-recepcion-informacin-fiscal-S6r .informacin-sobre-declaraciones-anexos-y-otros-Z4z {
  margin-left: 0.5rem;
  max-width: 24.8rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-apvp-23p .entrega-y-recepcion-informacin-fiscal-S6r .boton-GEJ {
  margin: 0rem 3.17rem 0rem 3.3rem;
  width: calc(100% - 6.47rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000d6;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-wpzs-KiN {
  width: 100%;
  height: 31rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-wpzs-KiN .pago-de-impuestos-Frv {
  margin-right: 5.3rem;
  box-sizing: border-box;
  padding: 2.55rem 7.2rem 1.572rem 7.2rem;
  width: 40.3rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-wpzs-KiN .pago-de-impuestos-Frv .pago-de-impuestos-xWS {
  margin-bottom: 2.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-wpzs-KiN .pago-de-impuestos-Frv .pagos-1-66r {
  margin-bottom: 1.5rem;
  width: 25.9rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-wpzs-KiN .pago-de-impuestos-Frv .informacin-sobre-procesos-de-pago-de-impuestos-R98 {
  margin: 0rem 2.9rem 1.5rem 0rem;
  max-width: 23rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-wpzs-KiN .pago-de-impuestos-Frv .boton-vLn {
  margin: 0rem 3.122rem 0rem 3.3rem;
  width: calc(100% - 6.4217rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000d6;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-wpzs-KiN .deudas-PVG {
  margin-right: 5.3rem;
  box-sizing: border-box;
  padding: 2.55rem 6.4rem 1.572rem 6.3rem;
  width: 40.3rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-wpzs-KiN .deudas-PVG .deudas-uiW {
  margin: 0rem 0rem 2.55rem 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-wpzs-KiN .deudas-PVG .deudas1-1-d8i {
  margin: 0rem 0rem 1.5rem 0.1rem;
  width: 26.3rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-wpzs-KiN .deudas-PVG .informacin-sobre-procesos-de-pago-de-deudas-A8e {
  margin-bottom: 3rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-wpzs-KiN .deudas-PVG .boton-gMt {
  margin: 0rem 4.078rem 0rem 4.044rem;
  width: calc(100% - 8.1217rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000d6;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-wpzs-KiN .devoluciones-y-reintegro-wYi {
  margin-right: 5.4rem;
  box-sizing: border-box;
  padding: 1.5rem 7.2rem 1.572rem 7.2rem;
  width: 40.3rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-wpzs-KiN .devoluciones-y-reintegro-wYi .devoluciones-y-reintegro-SEa {
  max-width: 16.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-wpzs-KiN .devoluciones-y-reintegro-wYi .deudas-2-kFG {
  width: 25.9rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-wpzs-KiN .devoluciones-y-reintegro-wYi .informacin-sobre-procesos-de-devoluciones-y-acreditaciones-6K8 {
  margin-right: 0.1rem;
  max-width: 25.8rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-wpzs-KiN .devoluciones-y-reintegro-wYi .boton-ojL {
  margin: 0rem 3.122rem 0rem 3.3rem;
  width: calc(100% - 6.4217rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000d6;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-wpzs-KiN .trmites-y-notificaciones-GN2 {
  box-sizing: border-box;
  padding: 1.5rem 7.3rem 1.572rem 7rem;
  width: 40.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-wpzs-KiN .trmites-y-notificaciones-GN2 .trmites-y-notificaciones-MeN {
  max-width: 15.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-wpzs-KiN .trmites-y-notificaciones-GN2 .tramites-y-notificaciones-1-GWS {
  width: 25.9rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-wpzs-KiN .trmites-y-notificaciones-GN2 .informacin-sobre-procesos-de-trmites-y-notificaciones-yfk {
  margin-right: 1.8rem;
  max-width: 23.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-wpzs-KiN .trmites-y-notificaciones-GN2 .boton-tXp {
  margin: 0rem 3.07rem 0rem 3.4rem;
  width: calc(100% - 6.47rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000d6;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-jjk2-x1t {
  width: 100%;
  height: 31rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-jjk2-x1t .certificados-tributarios-686 {
  margin-right: 5.3rem;
  box-sizing: border-box;
  padding: 1.5rem 7.2rem 1.572rem 7.2rem;
  width: 40.3rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-jjk2-x1t .certificados-tributarios-686 .certificados-tributarios-BQS {
  max-width: 13.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-jjk2-x1t .certificados-tributarios-686 .certificados-tributarios-1-Vvv {
  width: 25.9rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-jjk2-x1t .certificados-tributarios-686 .informacin-sobre-procesos-de-certificados-tributarios-Edc {
  margin-right: 1.1rem;
  max-width: 24.8rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-jjk2-x1t .certificados-tributarios-686 .boton-MCS {
  margin: 0rem 3.278rem 0rem 3.144rem;
  width: calc(100% - 6.4217rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000d6;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-jjk2-x1t .impuestos-vehiculares-Cir {
  margin-right: 5.3rem;
  box-sizing: border-box;
  padding: 2.55rem 7rem 1.572rem 7rem;
  width: 40.3rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-jjk2-x1t .impuestos-vehiculares-Cir .impuestos-vehiculares-u7U {
  margin-bottom: 2.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-jjk2-x1t .impuestos-vehiculares-Cir .impuestos-vehiculares-1-cna {
  margin-bottom: 1.5rem;
  width: 26.3rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-jjk2-x1t .impuestos-vehiculares-Cir .informacin-sobre-procesos-de-impuestos-vehiculares-MVG {
  margin: 0rem 1.7rem 1.5rem 0rem;
  max-width: 24.2rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-jjk2-x1t .impuestos-vehiculares-Cir .boton-rwp {
  margin: 0rem 3.322rem 0rem 3.5rem;
  width: calc(100% - 6.8217rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000d6;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-jjk2-x1t .ice-XYA {
  margin-right: 5.4rem;
  box-sizing: border-box;
  padding: 2.55rem 7.2rem 1.572rem 7.2rem;
  width: 40.3rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-jjk2-x1t .ice-XYA .ice-qYr {
  margin-bottom: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-jjk2-x1t .ice-XYA .ice-1-Ar2 {
  margin-bottom: 1.5rem;
  width: 25.9rem;
  height: 13.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-jjk2-x1t .ice-XYA .informacin-sobre-impuestos-a-los-consumos-especiales-JxE {
  margin: 0rem 6rem 1.5rem 0rem;
  max-width: 19.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-jjk2-x1t .ice-XYA .boton-NBQ {
  margin: 0rem 3.122rem 0rem 3.3rem;
  width: calc(100% - 6.4217rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000d6;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-jjk2-x1t .otras-peticiones-mjL {
  box-sizing: border-box;
  padding: 2.55rem 7.2rem 1.572rem 7.1rem;
  width: 40.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dedede;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-jjk2-x1t .otras-peticiones-mjL .otras-peticiones-5EE {
  margin-bottom: 2.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-jjk2-x1t .otras-peticiones-mjL .otras-peticiones-1-oAE {
  margin-bottom: 1.5rem;
  width: 25.9rem;
  height: 13.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-jjk2-x1t .otras-peticiones-mjL .informacin-sobre-procesos-de-otras-peticiones-Xc2 {
  margin: 0rem 4.8rem 1.5rem 0rem;
  max-width: 21.1rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .auto-group-nxwj-Xcr .auto-group-jjk2-x1t .otras-peticiones-mjL .boton-2Ht {
  margin: 0rem 3.17rem 0rem 3.3rem;
  width: calc(100% - 6.47rem);
  height: 2.9278rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000d6;
  border-radius: 1rem;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .pie-pagina-5GA {
  width: 192rem;
  height: 9rem;
  position: absolute;
  left: 0;
  top: 153.4rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.trmites-y-servicios-q1x .pie-pagina-5GA .auto-group-txxy-Cra {
  margin-bottom: 1.2rem;
  width: 100%;
  height: 6.8rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .pie-pagina-5GA .auto-group-txxy-Cra .auto-group-sejx-918 {
  margin: 1.6rem 3.185rem 0rem 0rem;
  box-sizing: border-box;
  padding: 1rem 13.932rem 0rem 13.932rem;
  width: 79.7457rem;
  border-top: solid 0.1rem #3f3f3f;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .pie-pagina-5GA .auto-group-txxy-Cra .auto-group-sejx-918 .image-1-3MQ {
  width: 21.2301rem;
  height: 4.2rem;
  object-fit: cover;
  vertical-align: top;
}
.trmites-y-servicios-q1x .pie-pagina-5GA .auto-group-txxy-Cra .social-icons-yF4 {
  margin-right: 5.1748rem;
  width: 4.246rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .pie-pagina-5GA .auto-group-txxy-Cra .social-icons-hwk {
  margin-right: 5.3075rem;
  width: 4.246rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .pie-pagina-5GA .auto-group-txxy-Cra .social-icons-eMC {
  margin-right: 3.1845rem;
  width: 4.246rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .pie-pagina-5GA .auto-group-txxy-Cra .auto-group-bnfg-niJ {
  margin: 1.55rem 0rem 0.6rem 0rem;
  height: calc(100% - 2.15rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .pie-pagina-5GA .auto-group-txxy-Cra .auto-group-bnfg-niJ .line-6-i6A {
  margin-bottom: 0.85rem;
  width: 82.6648rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .pie-pagina-5GA .auto-group-txxy-Cra .auto-group-bnfg-niJ .plataforma-gubernamental-financiera-av-amazonas-entre-unin-nacional-de-periodistas-y-jos-villalengua-quito-ecuador-telfono-02-393-6300-TZY {
  margin-right: 8.6247rem;
  max-width: 42.4rem;
  text-align: right;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .pie-pagina-5GA .auto-group-a4yt-hTt {
  width: 191.3366rem;
  height: 1rem;
  position: relative;
  flex-shrink: 0;
}
.trmites-y-servicios-q1x .pie-pagina-5GA .auto-group-a4yt-hTt .rectangle-2-Eyc {
  width: 57.3214rem;
  height: 1rem;
  position: absolute;
  left: 95.5356rem;
  top: 0;
  background-color: #0000ff;
}
.trmites-y-servicios-q1x .pie-pagina-5GA .auto-group-a4yt-hTt .rectangle-3-myY {
  width: 38.5rem;
  height: 1rem;
  position: absolute;
  left: 152.8366rem;
  top: 0;
  background-color: #ff0000;
}
.trmites-y-servicios-q1x .pie-pagina-5GA .auto-group-a4yt-hTt .rectangle-1-7nW {
  width: 95.5356rem;
  height: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffff00;
}
.trmites-y-servicios-q1x .component-2-fZ8 {
  width: 192rem;
  height: 22.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100% 215.247%;
  background-position: 0 -0.542rem;
  background-image: url('../assets/palaciocarondelet-1-bg-odp.png');
}
.trmites-y-servicios-q1x .component-2-fZ8 .rectangle-13-ovE {
  opacity: 0.9;
  width: 192rem;
  height: 9.8rem;
  position: absolute;
  left: 0;
  top: 5.6rem;
  background-color: rgba(63, 63, 63, 0.8999999762);
}
.trmites-y-servicios-q1x .component-2-fZ8 .servicio-de-rentas-internas-vzr {
  width: 40.4rem;
  height: 2.9rem;
  position: absolute;
  left: 67.8667rem;
  top: 9.1rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.15;
  color: #ededed;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.trmites-y-servicios-q1x .component-2-fZ8 .component-2-fZ8-bg {
  width: 192rem;
  height: 22.3rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:d292b9472a26d33080ae1a0d78f7f3708b119c21');
}
